<!DOCTYPE html>
<html lang="ja">
  <head>
    <meta charset="UTF-8">
  </head>
  <body>
    <p>投稿者：<%= @nickname %></p>
    <p>評価：<%= @rate %>点</p>
    <p>立場：<%= @position %></p>
    <p>良い点：<%= @good %></p>
    <p>悪い点：<%= @bad %></p>
  </body>
</html>