<html>
  <head>
    <meta charset="UTF-8" />
    <link rel="stylesheet" href="style.css">
    <title>ベストドローンスクール</title>
  </head>
<body>
  <div class ="contens-hokkaido">
       <span class ="moji-hokkaido">
       <h1>ドローンスクールに入学する人ってどんな人？</h1>
       </span>
  </div>

<div class="gaido-main">

  <div class="gaido-contens">

<!-- ここから本文 -->

<%= image_tag 'columns/colom-image15-1.jpg', class: "img-gaido" %>

<p class="gaido-contens-moji2">
前回のコラムでは、ドローン学校の学費について比較しましたが、今回は学費が学校ごとに異なる理由について、検証してみましょう。
</p>


<h1 class="gaido-contens-moji1">
１．学費が異なる理由　～卒業までの日数（授業日数）で学費が異なる！？～
</h1>

<p class="gaido-contens-moji2">
授業日数と学費について、関係はあるのでしょうか。各学校ごとの授業日数と学費について比較してみました。
</p>
<p class="gaido-contens-moji2">
※以下、学費帯別の平均授業日数をグラフで表したものです。
</p>

<%= image_tag 'columns/colom-image15-2.png', class: "img-gaido" %>

<p class="gaido-contens-moji2">
学費が高くなるに連れて、授業日数も延びているのが分りますね。特に、40万円以上になると授業日数がグーンっと延びています。どうやら「学費が高額＝受講日数が長い」傾向があるようです。
</p>


<h1 class="gaido-contens-moji1">
２．学費が異なる理由　～認定組織で学費が異なる！？～
</h1>

<p class="gaido-contens-moji2">
認可組織に加盟しているスクールと加盟していないスクールの学費について比較してみましょう。
</p>
<p class="gaido-contens-moji2">
どのくらいの学校が認可組織に加盟しているのでしょうかみてみましょう。
</p>

<%= image_tag 'columns/colom-image15-3.png', class: "img-gaido" %>

<p class="colom-komoji">
※当サイトでは、認定組織の認可スクールとして「JUIDA、DJI、DPA、MSC-NEXT」、認定組織以外のスクールを「独自」としています。
</p>

<p class="gaido-contens-moji2">
一番多いのが、JUIDAの認定スクールですね。約70％のスクールがJUIDAの認定スクールですので、ほとんどの学校がJUIDAの認定スクールと言えるかもしれません。
</p>

<p class="gaido-contens-moji2">
2番目に多いのが、どこにも加盟していないスクール、３番目にDPA、DJI、4番目にMSC-NEXTの順番ですね。</p>

<p class="gaido-contens-moji2">
では、認定校と学費の関連性を確認してみましょう。
</p>


<%= image_tag 'columns/colom-image15-4.png', class: "img-gaido" %>



<p class="colom-komoji">
※（ ）内の金額は認定組織の中での一番安いスクールの金額を記載。
</p>

<table style="width: 100%; height: 216px;">
<tbody>
<tr style="height: 24px;">
<th style="width: 13.08%; height: 24px; text-align: center; vertical-align: middle;"><span style="color: #000000; font-size: 10pt;">認定組織 \ 学費</span></th>
<th style="width: 12.91%; height: 24px; text-align: center; vertical-align: middle;"><span style="color: #000000; font-size: 10pt;">10万円以下</span></th>
<th style="width: 13%; height: 24px; text-align: center; vertical-align: middle;"><span style="color: #000000; font-size: 10pt;">10万円～20万円</span></th>
<th style="width: 13%; height: 24px; text-align: center; vertical-align: middle;"><span style="color: #000000; font-size: 10pt;">20万円～30万円</span></th>
<th style="width: 13%; height: 24px; text-align: center; vertical-align: middle;"><span style="color: #000000; font-size: 10pt;">30万円～40万円</span></th>
<th style="width: 13%; height: 24px; text-align: center; vertical-align: middle;"><span style="color: #000000; font-size: 10pt;">40万円～50万円</span></th>
<th style="width: 13%; height: 24px; text-align: center; vertical-align: middle;"><span style="color: #000000; font-size: 10pt;">50万円以上</span></th>
</tr>
<tr style="height: 24px;">
<td style="width: 13.08%; height: 24px; text-align: center;"><span style="color: #000000; font-size: 10pt;">JUIDA(41校)</span></td>
<td style="width: 12.91%; height: 24px; text-align: center;"><span style="color: #000000; font-size: 10pt;">-</span></td>
<td style="width: 13%; height: 24px; text-align: center;"><span style="color: #000000; font-size: 10pt;">7  (162,000円)</span></td>
<td style="width: 13%; height: 24px; text-align: center;"><span style="color: #000000; font-size: 10pt;">21</span></td>
<td style="width: 13%; height: 24px; text-align: center;"><span style="color: #000000; font-size: 10pt;">10</span></td>
<td style="width: 13%; height: 24px; text-align: center;"><span style="color: #000000; font-size: 10pt;">3</span></td>
<td style="width: 13%; height: 24px; text-align: center;"><span style="color: #000000; font-size: 10pt;">-</span></td>
</tr>
<tr style="height: 24px;">
<td style="width: 13.08%; height: 24px; text-align: center;"><span style="color: #000000; font-size: 10pt;">DPA(4校)</span></td>
<td style="width: 12.91%; height: 24px; text-align: center;"><span style="color: #000000; font-size: 10pt;">-</span></td>
<td style="width: 13%; height: 24px; text-align: center;"><span style="color: #000000; font-size: 10pt;">3  (108,000円)</span></td>
<td style="width: 13%; height: 24px; text-align: center;"><span style="color: #000000; font-size: 10pt;">-</span></td>
<td style="width: 13%; height: 24px; text-align: center;"><span style="color: #000000; font-size: 10pt;">-</span></td>
<td style="width: 13%; height: 24px; text-align: center;"><span style="color: #000000; font-size: 10pt;">1</span></td>
<td style="width: 13%; height: 24px; text-align: center;"><span style="color: #000000; font-size: 10pt;">-</span></td>
</tr>
<tr style="height: 24px;">
<td style="width: 13.08%; height: 24px; text-align: center;"><span style="color: #000000; font-size: 10pt;">DJI(4校)</span></td>
<td style="width: 12.91%; height: 24px; text-align: center;"><span style="color: #000000; font-size: 10pt;">4 (86,400円）</span></td>
<td style="width: 13%; height: 24px; text-align: center;"><span style="color: #000000; font-size: 10pt;">1</span></td>
<td style="width: 13%; height: 24px; text-align: center;"><span style="color: #000000; font-size: 10pt;">-</span></td>
<td style="width: 13%; height: 24px; text-align: center;"><span style="color: #000000; font-size: 10pt;">-</span></td>
<td style="width: 13%; height: 24px; text-align: center;"><span style="color: #000000; font-size: 10pt;">-</span></td>
<td style="width: 13%; height: 24px; text-align: center;"><span style="color: #000000; font-size: 10pt;">-</span></td>
</tr>
<tr style="height: 24px;">
<td style="width: 13.08%; height: 24px; text-align: center;"><span style="color: #000000; font-size: 10pt;">MSC-NEXT(1校)</span></td>
<td style="width: 12.91%; height: 24px; text-align: center;"><span style="color: #000000; font-size: 10pt;">-</span></td>
<td style="width: 13%; height: 24px; text-align: center;"><span style="color: #000000; font-size: 10pt;"> -</span></td>
<td style="width: 13%; height: 24px; text-align: center;"><span style="color: #000000; font-size: 10pt;">-</span></td>
<td style="width: 13%; height: 24px; text-align: center;"><span style="color: #000000; font-size: 10pt;"> -</span></td>
<td style="width: 13%; height: 24px; text-align: center;"><span style="color: #000000; font-size: 10pt;"> -</span></td>
<td style="width: 13%; height: 24px; text-align: center;"><span style="color: #000000; font-size: 10pt;">1</span></td>
</tr>
<tr style="height: 24.67px;">
<td style="width: 13.08%; height: 24.67px; text-align: center;"><span style="color: #000000; font-size: 10pt;">独自(6校)</span></td>
<td style="width: 12.91%; height: 24.67px; text-align: center;"><span style="color: #000000; font-size: 10pt;">4 (43,200円)</span></td>
<td style="width: 13%; height: 24.67px; text-align: center;"><span style="color: #000000; font-size: 10pt;">2</span></td>
<td style="width: 13%; height: 24.67px; text-align: center;"><span style="color: #000000; font-size: 10pt;">-</span></td>
<td style="width: 13%; height: 24.67px; text-align: center;"><span style="color: #000000; font-size: 10pt;"> -</span></td>
<td style="width: 13%; height: 24.67px; text-align: center;"><span style="color: #000000; font-size: 10pt;"> -</span></td>
<td style="width: 13%; height: 24.67px; text-align: center;"><span style="color: #000000; font-size: 10pt;"> -</span></td>
</tr>
</tbody>
</table>

<p class="gaido-contens-moji2">
JUIDAの認定スクール以外であれば、大方20万円以下で受講することができそうですが、JUIDAの認定スクールで学ぼうとした場合は、最低でも15万円以上の学費が必要になりそうですね。
</p>
<p class="gaido-contens-moji2">
学費のみでの比較ですが、「JUIDAの認定スクールは他の認可組織のスクールに比べて高額」な傾向があるようです。
</p>
 

<h1 class="gaido-contens-moji1">
まとめ
</h1>

<p class="gaido-contens-moji2">
いかがでしたでしょうか。
</p>
<p class="gaido-contens-moji2">
「 講義日数と学費の関連性」、「認定スクールと学費の関連性」の2点について検証しましたが、結論としては、「受講日数が延びるほど学費が高額になる傾向があり、JUIDAの認定スクールが、他の認可組織の学校などと比較すると高額な傾向があるということが分りました。」
</p>
<p class="gaido-contens-moji2">
学費が全てではないですが、学校選びの重要な要素の一つであると思いますので、今後も、様々な角度から検証していきたいと思います。皆様の学校探しに役立てて頂ければ幸いです。
</p>
<p class="gaido-contens-moji2">
 今後もスクールへの入学を希望している皆様が一番ベストな学校に入学できるよう、有益な情報をお伝えしていきたいと思います。
</p>

<p>
<%= link_to "コラムホームに戻る＞＞", "/columns/", class: "gaido-contens-moji4" %>
</p>

   </div>

</div>

<footer class=lineman>
</footer>
</body>
</html>