<html>
  <head>
    <meta charset="UTF-8" />
    <link rel="stylesheet" href="style.css">
    <title>ベストドローンスクール</title>
  </head>
<body>
  <div class ="contens-hokkaido">
       <span class ="moji-hokkaido">
       <h1>世界のドローン市場規模はぐんぐん伸びてる</h1>
       </span>
  </div>

<div class="gaido-main">

  <div class="gaido-contens">

<!-- ここから本文 -->

<%= image_tag 'columns/colom-image6-1.jpg', class: "img-gaido" %>

<p class="gaido-contens-moji2">
ドローンの情報って、空撮とか機体の新製品の情報なんかがネットではバンバン出ていますが、数字で抑えることも重要ですよね。
</p>

<p class="gaido-contens-moji2">
ということで、今回は「世界のドローン市場規模はどうなってるの？」について解説します！
</p>



<h1 class="gaido-contens-moji1">
世界のドローン市場規模はぐんぐん成長！
</h1>

<%= image_tag 'columns/colom-image6-2.jpg', class: "img-gaido" %>

<p class="gaido-contens-moji2">
まず、この数字を見てください。
</p>

<p class="gaido-contens-moji5">
2015年 1兆2,410億円
</p>
<p class="gaido-contens-moji5">
2020年 2兆2,814億円
</p>

<p class="gaido-contens-moji2">
5年間で約2倍に成長し、1兆円増えている何かです。そう、これは世界のドローン市場の推移予測です。つまり、2015年時点での世界のドローン市場は、たったの5年で約2倍に成長すると見込まれている急成長の分野なのです。
</p>

<p class="gaido-contens-moji2">
下のグラフを見てください。
</p>

<%= image_tag 'columns/colom-image6-3.png', class: "img-gaido" %>

<p class="colom-komoji">
出典：矢野経済研究所
</p>


<p class="gaido-contens-moji2">
年平均成長率は、2015年から2020年にかけて12.9%で推移しています。なぜ、ドローン市場が今、こんなにビジネスとしても注目されているかこれで一目瞭然ですね。
</p>

<h2 class="gaido-contens-moji3">
ドローン市場は新産業として有望
</h2>

<p class="gaido-contens-moji2">
なのです。
</p>


<h1 class="gaido-contens-moji1">
民間用ドローン市場が成長をけん引
</h1>

<%= image_tag 'columns/colom-image6-4.jpg', class: "img-gaido" %>


<p class="gaido-contens-moji2">
実は、世界のドローン市場と言っても、先ほどのグラフには軍事用のドローンも含まれていて、軍事用ドローン市場（軍用ドローン機体）と民間用ドローン市場（民間ドローン機体＋民間サービス）の合計の数字です。
</p>

<p class="gaido-contens-moji2">
「軍事用のドローンて、何？」てことですが、これは戦争で偵察や攻撃に使われている戦争兵器としてのドローンです。「兵器とは物騒な！」そうですね、これを読んでいる方は、軍事用のドローンには特に興味はないと思いますのでスルーしますね。
</p>

<p class="gaido-contens-moji2">
大事なのは、民間用のドローン市場です。民間用のドローンの市場に限ってお話すると、こんな数字が浮かび上がってきます。
</p>
 
<p class="gaido-contens-moji5">
2015年 4,053億円
</p>
<p class="gaido-contens-moji5">
2020年 9,000億円
</p>
 

<p class="gaido-contens-moji2">
民間用のドローンの世界市場（民間ドローン機体＋民間サービス）では、2015年から2020年までの5年間で2倍強に成長し、市場規模は約5,000億円増える見込みです。成長率を見ると、軍事用ドローンを含むドローン市場全体よりも、民間用ドローン市場の方が高い成長率となっています。
</p>

<p class="gaido-contens-moji2">
2015年時点では、軍事用ドローンの市場規模の方が民間用ドローンの市場規模よりも大きいのですが、2020年には両者の市場規模はほぼ同規模となる見込みです。
</p>

<p class="gaido-contens-moji2">
今後、ドローンの世界市場の中で、民間用のドローン市場というのがいかに高い成長率で伸びていくのかということですよね！
</p>


<h1 class="gaido-contens-moji1">
注目は点検、検査の分野
</h1>

<%= image_tag 'columns/colom-image6-5.png', class: "img-gaido" %>

<p class="gaido-contens-moji2">
さらにさらにですね、もっと細分化していうと注目の分野があるんですよ！笑
</p>

<p class="gaido-contens-moji2">
それが、民間サービス市場の点検、検査の分野です。先ほどのグラフを見ると、「民間ドローン機体」と「民間サービス」がありますが、「民間サービス」の方ですね。民間サービスの市場の数字がこちらです。
</p>

<p class="gaido-contens-moji5">
2015年 290億円
</p>
<p class="gaido-contens-moji5">
2020年 2,233憶円
</p>

<p class="gaido-contens-moji2">
世界全体で市場規模が2015年で290億円というのは、一つの産業としてはまだまだ小さいかなというのが正直な感想ですが、それにしても約5年で約10倍の成長というのはびっくりです！年平均成長率は50.4％です！毎年1.5倍ですよ、すごいですね。
</p>

<p class="gaido-contens-moji2">
で、さらに、その民間サービス市場の中でも注目の分野はどこでしょうか？下のグラフを見てください。
</p>

<%= image_tag 'columns/colom-image6-6.png', class: "img-gaido" %>

<p class="colom-komoji">
出典：矢野経済研究所
</p>

<p class="gaido-contens-moji2">
このグラフは、民間サービス市場をさらにサービスの分野で分類したものです。
</p>

<p class="gaido-contens-moji2">
どの分野も伸びているのですが、中でも大きく成長しているのが「点検、検査」の分野であることが分かると思います。点検、検査といえば、日本でもドローンを利用した橋梁や高速道路などのインフラ点検検査が注目されています。世界的にも点検、検査の分野がぐんぐん成長していくんだということですね。
</p>

<p class="gaido-contens-moji2">
これを念頭に置いておけば、これから自分がドローンとどういう風に関わっていくかという時に、身を置く分野の参考になるかもしれません。
</p>

<p class="gaido-contens-moji2">
また、点検、検査の分野だけでなく、グラフから「映像撮影」や「測量」「農業」も大きく成長するのが読み取れます。
</p>

<p class="gaido-contens-moji2">
これらの分野も有望なので何か挑戦できる機会がないかアンテナを立てておくと良いかもしれないですね。
</p>

<h1 class="gaido-contens-moji1">
まとめ
</h1>

<p class="gaido-contens-moji2">
ドローンの世界市場は高い成長率で伸びていきます。
</p>

<p class="gaido-contens-moji2">
その中でも、民間サービス市場の成長の著しい分野に注目すると今後面白いことができるかもしれません！
</p>


<p>
<%= link_to "コラムホームに戻る＞＞", "/columns/", class: "gaido-contens-moji4" %>
</p>

   </div>

</div>

<footer class=lineman>
</footer>
</body>
</html>