
   <div class ="contens-gaidorain">
       <span class ="moji-gaidorain">
       <h1 class="gaidorain-h1">ドローンで守るべき3つのルールとは？</h1>
       </span>
  </div>

<div class="gaido-main">

  <div class="gaido-contens">

<!-- ここから本文 -->

<%= image_tag 'columns/colom-image11-1.jpg', class: "img-gaido" %>

<p class="gaido-contens-moji2">
ドローンの機体は用意した。あとは、飛ばすだけ。ではありません！
</p>

<p class="gaido-contens-moji2">
ドローンを飛ばすには様々なルールを守らないといけません。ではどんなルールがあるのでしょうか？解説します。
</p>



<h1 class="gaido-contens-moji1">
守るべき3つのルール
</h1>

<%= image_tag 'columns/colom-image11-2.jpg', class: "img-gaido" %>

<p class="gaido-contens-moji2">
ドローンを飛ばすときには、一定のルールの下に運用する必要があります。周りに迷惑をかけないようにドローンを飛ばすためのルールを3つの観点から解説します。
</p>


<h2 class="gaido-contens-moji3">
1. 改正航空法
</h2>
<p class="gaido-contens-moji2">
まずは改正航空法です。改正航空法でドローンの運用についていろいろと規制しています。
</p>

<p class="gaido-contens-moji5">
・規制の対象となる機体、ならない機体
</p>

<p class="gaido-contens-moji2">
 規制の対象となる機体は簡単に言うと、200g以上のドローンです。
</p>



<%= image_tag 'columns/colom-image11-3.png', class: "img-gaido" %>

<p class="gaido-contens-moji2">
国土交通省による厳密な定義は以下の通りです。
</p>
<p class="gaido-contens-moji2">
「「飛行機、回転翼航空機、滑空機、飛行船であって構造上人が乗ることができないもののうち、遠隔操作又は自動操縦により飛行させることができるもの（200g未満の重量（機体本体の重量とバッテリーの重量の合計）のものを除く）」です。いわゆるドローン（マルチコプター）、ラジコン機、農薬散布用ヘリコプター等が該当します。」引用：国土交通省
</p>
<p class="gaido-contens-moji2">
なので、おもちゃのようなドローン以外のドローンはほぼ改正航空法の規制の対象となりますね。200g未満のドローンは対象とならないので、もし、本格的な空撮や飛行はするつもりはないという方は200g未満のドローンを購入するといいかもしれません。
</p>
<p class="gaido-contens-moji2">
まずおもちゃのドローンで練習してから、本格的なドローンで飛行する操縦の上達方法はポピュラーのようです。ドローンスクールでも最初はおもちゃのドローンで練習して、次第にDJIのPhantom（ファントム）などの本格的なドローンの操縦の練習を開始するパターンが見られます。
</p>
<p class="gaido-contens-moji2">
ちなみに、200g未満のドローンで注目がDobbyです。軽さに加えて、飛行の安定性やカメラの性能に優れます。ま、値段はそこそこ高いですが 笑
</p>

<p class="gaido-contens-moji5">
・飛行空間の制限
</p>

<p class="gaido-contens-moji2">
どこで飛ばすことを制限されているのでしょうか？
</p>

<p class="gaido-contens-moji2">
下の図は、ドローンが許可なしに飛行できない空間を表しています。
</p>


<%= image_tag 'columns/colom-image11-4.png', class: "img-gaido" %>
<p class="colom-komoji">
引用：国土交通省
</p>

<p class="gaido-contens-moji2">
この中でも特に、人口集中地区、というのが曲者です。なぜなら、都市部の多くはこの地区に該当してしまうからです！下の図の赤い部分は人口集中地区です。どこで飛ばせばいいんだー！笑
</p>

<%= image_tag 'columns/colom-image11-5.png', class: "img-gaido" %>

<p class="gaido-contens-moji5">
・飛行ルール
</p>
<p class="gaido-contens-moji2">
また、どこを飛行させるにも守るルールがあります。
</p>
<p class="gaido-contens-moji2">
［１］　日中（日出から日没まで）に飛行させること
</p>
<p class="gaido-contens-moji2">
［２］　目視（直接肉眼による）範囲内で無人航空機とその周囲を常時監視して飛行させること
</p>
<p class="gaido-contens-moji2">
［３］　人（第三者）又は物件（第三者の建物、自動車など）との間に３０ｍ以上の距離を保って飛行させること
</p>
<p class="gaido-contens-moji2">
［４］　祭礼、縁日など多数の人が集まる催しの上空で飛行させないこと
</p>
<p class="gaido-contens-moji2">
［５］　爆発物など危険物を輸送しないこと
</p>
<p class="gaido-contens-moji2">
［６］　無人航空機から物を投下しないこと」
</p>


<%= image_tag 'columns/colom-image11-6.png', class: "img-gaido" %>
<p class="colom-komoji">
引用：国土交通省
</p>

<p class="gaido-contens-moji5">
・許可の申請
</p>
<p class="gaido-contens-moji2">
許可の必要な飛行を予定している場合は事前に国土交通省の許可を申請しておく必要があります。詳細は国土交通省のサイトを御覧ください。
</p>
 

 
<h2 class="gaido-contens-moji3">
2. プライバシー保護
</h2>
<p class="gaido-contens-moji2">
ドローンによって、人のプライバシーを侵さないように注意しないといけません。ドローン＝カメラで撮影、というイメージが世間に浸透しつつあります。たとえ撮影していなかったとしても、ドローンが自分の方向に飛んでいるだけで、「もしかして撮られているかも」と思われる可能性があります。
</p>
<p class="gaido-contens-moji2">
できる限り、不要に人のプライバシーを侵すことは避けたいです。
</p>
 

 
<h2 class="gaido-contens-moji3">
3. 土地・空間の所有権
</h2>
<p class="gaido-contens-moji2">
ドローン飛行であっても、無断で私有地に入ることは許されません。じゃあ、「上空はどうなのか？」というのは議論のあるようですが、それも無断で飛ばさない方がトラブルは避けられるでしょう。
</p>

<h1 class="gaido-contens-moji1">
まとめ
</h1>

<p class="gaido-contens-moji2">
基本的なルールを守って安全にドローンを運用したいものです。
</p>


<p>
<%= link_to "コラムホームに戻る＞＞", "/columns/", class: "gaido-contens-moji4" %>
</p>

   </div>

</div>

<footer class=lineman>
</footer>