
   <div class ="contens-gaidorain">
       <span class ="moji-gaidorain">
       <h1 class="gaidorain-h1">ドローンスクールの学費（授業料）について比較してみよう</h1>
       </span>
  </div>

<div class="gaido-main">

  <div class="gaido-contens">

<!-- ここから本文 -->

<%= image_tag 'columns/colom-image14-1.jpg', class: "img-gaido" %>

<p class="gaido-contens-moji2">
学校を選ぶ際の重要なポイントの一つに「学費」がありますよね。
</p>


<p class="gaido-contens-moji2">
ドローンスクールについても、学校ごとに学費が設定されているわけですが、どれくらい学費が異なるのか知りたくありませんか！？
</p>

<p class="gaido-contens-moji2">
私は気になりました。。。笑
</p>

<p class="gaido-contens-moji2">
という訳で、ドローンスクールの学費を一挙に比較していきたいと思います。
</p>

<p class="gaido-contens-moji2">
学校によって学費はどれくらい異なるのでしょうか。
</p>

<p class="gaido-contens-moji2">
確認してみましょう。
</p>








<h1 class="gaido-contens-moji1">
１．ベストドローンスクール掲載の学校一覧
</h1>

<p class="gaido-contens-moji2">
ベストドローンスクール掲載の54校を一覧にしてみました。※2017年3月5日現在
</p>

<p class="gaido-contens-moji2">
学費については、学校ごとに色々設定されているので、今回は「操縦（ドローンの基本操縦が身に付く）」に絞って学費を比較していきたいと思います。基本操縦が身に付くがどうかは、各学校HPをみて独自に判断しております。（授業の質などは考慮せずに、単純な学費での比較です。）
</p>


<table border=1 class="table-size">
 <tr><th>学校名</th><th>都道府県</th><th>認定組織</th><th>学費（税込）<br>※ドローンの基本操縦を学ぶ為の学費</th><th>受講日数<br>(最低受講日数を掲載）</th><th>学費（１日あたり）</tr>

 <tr>
 <td>日本ドローンアカデミー札幌校</td>
 <td>北海道</td>
 <td>JUIDA</td>
 <td>¥318,600</td>
 <td>5</td>
 <td>¥63,720</td>
 </tr>

<tr>
<td>Hito-Robo Academy</td>
<td>宮城県</td>
<td>JUIDA</td>
<td >¥291,600</td>
<td >4</span></td>
<td >¥72,900</td>
</tr>

<tr>
<td>Ｄアカデミー東北</td>
<td>秋田県</td>
<td>JUIDA</td>
<td>¥291,600</td>
<td>4</td>
<td>¥72,900</td>
</tr>

<tr>
<td>福島ドローンスクール</td>
<td>福島県</td>
<td>JUIDA</td>
<td>¥280,800</td>
<td>4</td>
<td>¥70,200</td>
</tr>

<tr>
<td>TSUKUBA DRONE SCHOOL</td>
<td>茨城県</td>
<td>JUIDA</td>
<td>¥367,200</td>
<td>4</td>
<td>¥91,800</td>
</tr>


<tr>
<td>Mighty Wings 那須塩原ドローンスクール</td>
<td >栃木県</td>
<td>JUIDA</td>
<td>¥334,800</td>
<td>5</td>
<td>¥66,960</td>
</tr>

<tr>
<td>群馬インターネット株式会社</td>
<td>群馬県</td>
<td>JUIDA / DJI</td>
<td>¥302,400</td>
<td>3</td>
<td>¥100,800</td>
</tr>

<tr>
<td>DRONE VILLAGE</td>
<td>千葉県</td>
<td>JUIDA</td>
<td>¥194,400</td>
<td>4</td>
<td >¥48,600</td>
</tr>
<tr >
<td>Futaba ドローンスクール</td>
<td>千葉県</td>
<td>JUIDA</td>
<td>¥378,000</td>
<td>5<</td>
<td>¥75,600</td>
</tr>
<tr >
<td>秋葉原ドローンスクール</td>
<td>東京都</td>
<td>JUIDA</td>
<td>¥321,840</td>
<td >4</td>
<td >¥80,460</td>
</tr>
<tr >
<td >国際航業株式会社 　東京</td>
<td >東京都</td>
<td>JUIDA</td>
<td >¥291,600</td>
<td>5<</td>
<td>¥58,320</td>
</tr>
<tr>
<td>スカイエステート</td>
<td>東京都</td>
<td>DPA</td>
<td >¥108,000</td>
<td>2</td>
<td>¥54,000</td>
</tr>
<tr>
<td>デジタルハリウッドロボティクスアカデミー</td>
<td>東京都</td>
<td>JUIDA</td>
<td >¥172,800</td>
<td>5</td>
<td>¥34,560</td>
</tr>
<tr>
<td >Dアカデミー関東東京校（本部）</td>
<td>東京都</td>
<td>JUIDA</td>
<td>¥151,200</td>
<td >4</td>
<td >¥37,800</td>
</tr>

<tr >
<td >DJI CAMP</td>
<td >東京都</td>
<td >DJI</td>
<td >¥64,800</td>
<td>2</td>
<td>¥32,400</td>
</tr>

<tr>
<td ">ドローンスクールジャパン</td>
<td >東京都</td>
<td >DPA</td>
<td >¥108,000</td>
<td >2</td>
<td >¥54,000</td>
</tr>

<tr>
<td >ドローン大学校</td>
<td >東京都</td>
<td >JUIDA</td>
<td >¥421,200</td>
<td >12</td>
<td >¥35,100</td>
</tr>

<tr>
<td>日本ドローンアカデミー</td>
<td>東京都</td>
<td >JUIDA</td>
<td >¥318,600</td>
<td >7</td>
<td >¥45,514</td>
</tr>

<tr >
<td >バンタンデザイン研究所キャリアカレッジ</td>
<td >東京都</td>
<td >DPA</td>
<td >¥400,000</td>
<td >16</td>
<td >¥25,000</td>
</tr>

<tr >
<td >Y'sドローンスクール</td>
<td >東京都</td>
<td>JUIDA</td>
<td >¥310,000</td>
<td >7</td>
<td >¥44,286</td>
</tr>
<tr >
<td >有限会社トラスト</td>
<td >東京都</td>
<td >JUIDA</td>
<td >¥378,000</td>
<td >3</td>
<td >¥126,000</td>
</tr>

<tr >
<td >DJI CAMP（セキド）</td>
<td >東京都</td>
<td>DJI</td>
<td >¥64,800</td>
<td >2</td>
<td >¥32,400</td>
</tr>

<tr >
<td >サイトテック株式会社</td>
<td >山梨県</td>
<td >JUIDA</td>
<td >¥345,600</td>
<td >3</span></td>
<td >¥115,200</td>
</tr>

<tr>
<td>日本航空学園</td>
<td >山梨県</td>
<td>JUIDA</td>
<td>¥216,000</td>
<td>6</td>
<td>¥36,000</td>
</tr>

<tr>
<td>エアフィールド・アイ</td>
<td >長野県</td>
<td>独自</td>
<td>¥85,000</td>
<td>3</td>
<td>¥28,333</td>
</tr>

<tr>
<td>信州・北信濃ドローンスクール</td>
<td >長野県</td>
<td >JUIDA</td>
<td>¥270,000</td>
<td>3</td>
<td>¥90,000</td>
</tr>

<tr>
<td>ドローンパイロットアカデミー東海</td>
<td>岐阜県</td>
<td>独自</td>
<td >¥130,000</td>
<td >2</td>
<td >¥65,000</td>
</tr>

<tr>
<td>ドローンスクール静岡</td>
<td>静岡県</td>
<td>JUIDA</td>
<td>¥420,120</td>
<td>5</td>
<td >¥84,024</td>
</tr>

<tr >
<td >ドローンスクールジャパン静岡掛川校</td>
<td >静岡県</td>
<td >DPA</td>
<td >¥108,000</td>
<td>2</td>
<td >¥54,000</td>
</tr>

<tr >
<td >DJI CAMP（KACHISUTA）</td>
<td>静岡県</td>
<td>DJI</td>
<td>¥86,400</td>
<td >2</td>
<td >¥43,200</td>
</tr>


<tr >
<td>日本DMC株式会社　静岡校</td>
<td >静岡県</td>
<td >JUIDA</td>
<td >¥270,000</td>
<td >5</td>
<td >¥54,000</td>
</tr>

<tr>
<td >日本DMC株式会社　浜松校</td>
<td >静岡県</td>
<td >JUIDA</td>
<td >¥270,000</td>
<td>5</td>
<td >¥54,000</td>
</tr>

<tr >
<td >日本DMC株式会社　沼津校</td>
<td >静岡県</td>
<td >JUIDA</td>
<td >¥270,000</td>
<td >5</td>
<td >¥54,000</td>
</tr>

<tr >
<td >ドローン大学校 名古屋キャンパス</td>
<td >愛知県</td>
<td >JUIDA</td>
<td >¥421,200</td>
<td >11</td>
<td >¥38,291</td>
</tr>

<tr >
<td >アイオス・無人航空機スクール</td>
<td >三重県</td>
<td >JUIDA</td>
<td >¥216,000</td>
<td >4</td>
<td>¥54,000</td>
</tr>

<tr >
<td >ドローン撮影クリエイターズ協会</td>
<td>京都府</td>
<td >JUIDA</td>
<td >¥226,800</td>
<td >4</td>
<td >¥56,700</td>
</tr>

<tr >
<td >関西ドロ－ン安全協議会 大阪スク－ル</td>
<td >大阪府</td>
<td >JUIDA</td>
<td >¥248,400</td>
<td >3</td>
<td >¥82,800</td>
</tr>

<tr >
<td >関西ドロ－ン安全協議会 滋賀スク－ル</td>
<td >滋賀県</td>
<td >JUIDA</td>
<td >¥248,400</td>
<td >3</td>
<td >¥82,800</td>
</tr>

<tr >
<td >国際航業株式会社　兵庫</td>
<td >兵庫県</td>
<td >JUIDA</td>
<td >¥291,600</td>
<td >5</td>
<td >¥58,320</td>
</tr>

<tr >
<td >ドローン活用技能スクール 兵庫但馬スクール</td>
<td >兵庫県</td>
<td >JUIDA</td>
<td >¥162,000</td>
<td >3</td>
<td >¥54,000</td>
</tr>

<tr >
<td >ドローン活用技能スクール 兵庫南あわじスクール</td>
<td >兵庫県</td>
<td >JUIDA</td>
<td >¥162,000</td>
<td >3</td>
<td >¥54,000</td>
</tr>

<tr >
<td>関西ドロ－ン安全協議会 奈良スク－ル</td>
<td >奈良県</td>
<td >JUIDA</td>
<td >¥248,400</td>
<td >3</td>
<td >¥82,800</td>
</tr>

<tr >
<td >ドローントレーニングセンターけいはんな</td>
<td >和歌山県</td>
<td >JUIDA</td>
<td >¥213,840</td>
<td >4</td>
<td >¥53,460</td>
</tr>

<tr >
<td >ドローンデパートメント株式会社</td>
<td >岡山県</td>
<td >独自</td>
<td >¥86,400</td>
<td >1</td>
<td >¥86,400</td>
</tr>

<tr">
<td >MSA ミニサーベイヤー技能認定アカデミー西日本校</td>
<td >広島県</td>
<td >MSC-NEXT</td>
<td >¥540,000</td>
<td >4</td>
<td >¥135,000</td>
</tr>

<tr >
<td >ドローン活用技能スクール 徳島那賀町スクール</td>
<td >徳島県</td>
<td >JUIDA</td>
<td >¥162,000</td>
<td >3</td>
<td >¥54,000</td>
</tr>

<tr ">
<td >ドローン活用技能スクール 徳島スクール</td>
<td >徳島県</td>
<td>JUIDA</td>
<td >¥162,000</td>
<td>3</td>
<td >¥54,000</td>
</tr>

<tr>
<td>Dアカデミー四国</td>
<td>徳島県</td>
<td>JUIDA</td>
<td>¥216,000</td>
<td>4</td>
<td>¥54,000</td>
</tr>

<tr>
<td>空撮技研</td>
<td >香川県</td>
<td>独自</td>
<td>¥86,400</td>
<td >1</td>
<td>¥86,400</td>
</tr>

<tr>
<td >DJI CAMP（株式会社アグサス）</td>
<td>愛媛県</td>
<td >DJI</td>
<td >¥86,400</td>
<td >2</td>
<td >¥43,200</td>
</tr>
<tr >
<td >DRONEBASE肥後大津</td>
<td >熊本県</td>
<td >JUIDA</td>
<td >¥248,400</td>
<td >3</td>
<td >¥82,800</td>
</tr>

<tr >
<td >エンルートアカデミー中津</td>
<td >大分県</td>
<td >独自</td>
<td >¥108,000</td>
<td >1</td>
<td >¥108,000</td>
</tr>
<tr >
<td >DJI CAMP（南榮工業株式会社)</td>
<td >宮崎県</td>
<td >DJI</td>
<td >¥108,000</td>
<td >2</td>
<td >¥54,000</td>
</tr>
<tr >
<td >nanten drone park</td>
<td >沖縄県</td>
<td >独自</td>
<td >¥43,200</td>
<td >5</td>
<td >¥8,640</td>
</tr>
</table>






<p class="colom-komoji">
※北海道から順番に並べてます。
</p>

<p class="gaido-contens-moji2">
54校を一覧にすると、結構な表になりましたね。
</p>
<p class="gaido-contens-moji2">
学費以外にも、所在地や認可組織、授業日数も学校により異なっているようです。
</p>
<p class="gaido-contens-moji2">
ではでは、肝心の学費の状況はというと、
</p>
<p class="gaido-contens-moji2">
「40,000円代の学校もあれば、500,000円以上する学校」もあるようです。。。。
</p>
<p class="gaido-contens-moji5">
その差、12倍以上！！
</p>
<p class="gaido-contens-moji2">
12倍ですよ、12倍。笑　
</p>
<p class="gaido-contens-moji2">
果たして、その違いはどこからくるのでしょうか！？
</p>
<p class="gaido-contens-moji2">
検証していきましょう！！
</p>




<h1 class="gaido-contens-moji1">
２．ドローン学校の学費の相場は！？
</h1>

<p class="gaido-contens-moji2">
まずは、学費の相場について確認してみましょう。
</p>





<%= image_tag 'columns/colom-image14-2.png', class: "img-gaido" %>


<p class="gaido-contens-moji2">
学費については、凡そ500,000円以内に収まっているようですので、取り合えず500,000円用意しておけば好きな学校に入学できますね！
</p>

<p class="gaido-contens-moji2">
また、学費を100,000円～400,000円に設定している学校が一番多く、特に200,000円～300,000円に集中しているようです。
</p>

<p class="gaido-contens-moji5">
参考：学費の平均値は約260,000円です。中央値は248,400円になります。
</p>


<h1 class="gaido-contens-moji1">
３．学費が一番安い学校はどのスクール！？
</h1>

<p class="gaido-contens-moji2">
学費が一番安い学校ってどこでしょうか！？気になりますよね。
</p>
<p class="gaido-contens-moji2">
ランキングにしてみましたので見てみましょう。
</p>

<%= image_tag 'columns/colom-image14-3.png', class: "img-gaido" %>


<p class="gaido-contens-moji2">
第1位は【naten drone park】でしたね。
</p>

<p class="gaido-contens-moji2">
第2位には【DJI CAMP】、 【DJI CAMP(セキド)】　。第3位には　【DJI CAMP（㈱アグサス）】、【DJI CAMP（KACHISUTA)】、【空撮技研】、【ドローンデパートメント㈱】　がランクイン。DJI CAMPの学校が多数ランクインしていますね。ドローン学校の学費の平均が約260,000円であることを考えると、第１位～第3位までの学校は総じて学費については、【安い！】と言えると思います。
</p>
<p class="gaido-contens-moji2">
しかし、、、
</p>
<p class="gaido-contens-moji2">
ドローンスクールは一覧表でも分るように学校ごとの受講日数がバラバラです。ということは、「1日50,000円の学校もあれば、5,000円の学校」もあるということです。
</p>
<p class="gaido-contens-moji2">
という訳で、「1日あたりの学費が一番安い学校」を比較してみようと思います。
</p>

<%= image_tag 'columns/colom-image14-4.png', class: "img-gaido" %>

<p class="gaido-contens-moji2">
第1位は【nanten drone park】でした。1日あたりの学費でも安いということは、学費ではNO1の安さということになりますね。
</p>
<p class="gaido-contens-moji2">
第2位と第3位については、先ほどのランキングとは違う学校がランクインしています。先ほどのランキングでは、DJICAMPの学校が複数ランクインしていましたが、学費1日あたりのランキングには登場していませんね。
</p>
 

<p class="gaido-contens-moji2">
代わりにランクインしたのが↓↓↓
</p>
 
<p class="gaido-contens-moji2">
第2位【バンタンデザイン研究所キャリアカレッジ】
</p>
<p class="gaido-contens-moji2">
学費は400,000円と高額ですが、受講日数が16日間もあるため、1日あたり25,000円で受講できるということですね。
</p>
<p class="gaido-contens-moji2">
第3位【エア・フィールドアイ】
</p>
<p class="gaido-contens-moji2">
学費は85,000円ですが、受講日数が3日間あるので、1日あたりの学費は28,333円となります。
</p>


<h1 class="gaido-contens-moji1">
まとめ
</h1>

<p class="gaido-contens-moji2">
ドローンスクールを探す場合、学費を参考に探す方もたくさんいらっしゃると思いますが、学費だけではなく、1日あたりの学費でも比較してみるとよいかもしれませんね。学費が高額に見えても授業日数から割り戻すと、1日辺り安いじゃん！！ってなる可能性も十分にありますので。
</p>
<p class="gaido-contens-moji2">
皆さんのドローンスクール探しのお役に立てれば幸いです。
</p>
<p class="gaido-contens-moji2">
まだまだ、一覧表からは読み取れることがたくさんありますので、次回以降のコラムに記載していきたいと思います。
</p>



<p>
<%= link_to "コラムホームに戻る＞＞", "/columns/", class: "gaido-contens-moji4" %>
</p>

   </div>

</div>

<footer class=lineman>
</footer>
