
   <div class ="contens-gaidorain">
       <span class ="moji-gaidorain">
       <h1 class="gaidorain-h1">日本のドローン市場はどれくらい成長する？</h1>
       </span>
  </div>

<div class="gaido-main">

  <div class="gaido-contens">

<!-- ここから本文 -->

<%= image_tag 'columns/colom-image7-1.jpg', class: "img-gaido" %>

<p class="gaido-contens-moji2">
世界のドローン市場がどうなっているのかは、以前に説明しました。
</p>

<p class="gaido-contens-moji2">
世界のドローン市場規模はぐんぐん伸びてる
</p>

<p class="gaido-contens-moji2">
今回は、「じゃあ、日本のドローン市場はどうなっているのか？将来性はどれくらいあるのか？」について解説したいと思います。
</p>



<h1 class="gaido-contens-moji1">
日本のドローン市場は5年で10倍に
</h1>

<%= image_tag 'columns/colom-image7-2.jpg', class: "img-gaido" %>

<p class="gaido-contens-moji2">
ドローン市場の成長がマスメディアで取り上げられるようになって数年経ちますが、実際のところはどれくらい成長する見込みがあるのでしょうか？実際に数字で確認してみましょう。
</p>

<p class="gaido-contens-moji2">
まず、下のグラフを見てください。
</p>


<%= image_tag 'columns/colom-image7-3.png', class: "img-gaido" %>

<p class="colom-komoji">
出典：インプレス
</p>


<p class="gaido-contens-moji2">
これは国内のドローン市場の推移予測です。
</p>

<p class="gaido-contens-moji2">
構成はこうなっています。
ドローン市場＝機体市場＋サービス市場＋周辺サービス市場
</p>

<p class="gaido-contens-moji2">
そして数字はこれです。
</p>

<p class="gaido-contens-moji5">
2015年 104億円
</p>

<p class="gaido-contens-moji5">
2020年 1,138億円
</p>

<p class="gaido-contens-moji2">
なんと2015年からの5年間で約10倍も市場規模が拡大しています。国内で「不景気だー不景気だー」と言われてる中で、こんな成長産業はなかなかないでしょう。
</p>

<p class="gaido-contens-moji2">
「でも、1000億円て、市場規模として大きいの？」と疑問が出ると思います。
例えばですが、
</p>

<p class="gaido-contens-moji5">
各業界の市場規模（2015年）
</p>
<p class="gaido-contens-moji5">
・証明写真の市場：920億円
</p>
<p class="gaido-contens-moji5">
・味噌の市場：1,001億円
</p>
<p class="gaido-contens-moji5">
・宅配水の市場：1,135億円
</p>

<p class="colom-komoji">
出典：visualizing.info
</p>

<p class="gaido-contens-moji2">
こんな感じです。
</p>

<p class="gaido-contens-moji2">
なので、1000億円というのは市場規模として小さくもないしそんなに大きくもないという感じですかね。
</p>

<h2 class="gaido-contens-moji3">
でも、注目すべきはこの成長率です！
</h2>

<p class="gaido-contens-moji2">
だって、完全に仮定の話ではありますが、2020年の次の5年も同じ成長率だとしたら、2025年には市場規模1兆円てことじゃないですか、そして更に5年後には10兆円。。。まあ、希望の入った仮定なんでわからないですが 笑
</p>



<h1 class="gaido-contens-moji1">
特にサービス分野が有望
</h1>

<%= image_tag 'columns/colom-image7-4.jpg', class: "img-gaido" %>

<p class="gaido-contens-moji2">
先ほどのグラフを見ていただいてお分かりかと思いますが、ドローン市場の中でも特にボリュームが大きいジャンルがあります。
</p>

<p class="gaido-contens-moji2">
そうです、サービス市場です。
</p>

<p class="gaido-contens-moji2">
サービス分野の成長はこうなっています。
</p>

<p class="gaido-contens-moji5">
2015年 61億円
</p>
<p class="gaido-contens-moji5">
2020年 678億円
</p>

<p class="gaido-contens-moji2">
5年間で600億円以上はサービス市場の市場規模が拡大する見込みです。これだけ拡大するということは、それだけ新しい事業機会が生まれそうですね。
</p>


<h1 class="gaido-contens-moji1">
測量、検査、農業分野に注目すべし
</h1>

<%= image_tag 'columns/colom-image7-5.jpg', class: "img-gaido" %>

<p class="gaido-contens-moji2">
さて、サービス市場と一口に言っても様々なサービスがありますよね。「サービス市場の中でも、どういう分野が有望なの？」という疑問が浮かびます。
</p>

<h2 class="gaido-contens-moji3">
それは、ズバリ、測量、検査、農業分野です。
</h2>

<p class="gaido-contens-moji2">
下のグラフを見てください。
</p>


<%= image_tag 'columns/colom-image7-6.png', class: "img-gaido" %>

<p class="colom-komoji">
出典：インプレス
</p>

<p class="gaido-contens-moji2">
これはサービス市場を各種サービス分野ごとに割合の変化を示したものです。
</p>

<p class="gaido-contens-moji2">
2020年時点を見ると、測量や検査、農業分野が大きい割合を占めていることがわかりますね。
</p>

<p class="gaido-contens-moji2">
ただし注意しないといけないのは、2015年時点と比べると2020年時点では、検査と農業の分野の割合が減っているのですが、これは成長しないということではありません。割合自体は減っているのですが、サービス市場全体は約10倍に成長する見込みなので、基本的にどの分野も成長します。
</p>

<p class="gaido-contens-moji2">
測量というと、ドローンを飛ばして空からカメラで地面などを撮影して、それを3Dデータにする手法が注目されていますね。従来より数分の一のコストで測量できます。
</p>

<p class="gaido-contens-moji2">
検査は、橋梁や高速道路などのインフラの点検検査に活用が期待されています。
</p>

<p class="gaido-contens-moji2">
農業は、日本では1990年代頃からラジコンヘリ型の農薬散布が行われてきましたが、農業の人手不足が続く中で進化したドローンでも活躍が期待できそうです。
</p>


<h1 class="gaido-contens-moji1">
まとめ
</h1>

<p class="gaido-contens-moji2">
日本国内でのドローン市場は急速に拡大しています。
</p>

<p class="gaido-contens-moji2">
ドローン市場の中から、新たな産業やサービスが間違いなくたくさん生まれてくることでしょう。
</p>


<p>
<%= link_to "コラムホームに戻る＞＞", "/columns/", class: "gaido-contens-moji4" %>
</p>

   </div>

</div>

<footer class=lineman>
</footer>
