<html>
  <head>
    <meta charset="UTF-8" />
    <link rel="stylesheet" href="style.css">
    <title>ベストドローンスクール</title>
  </head>
<body>
  <div class ="contens-hokkaido">
       <span class ="moji-hokkaido">
       <h1>ドローンスクールの学費（授業料）について比較してみよう</h1>
       </span>
  </div>

<div class="gaido-main">

  <div class="gaido-contens">

<!-- ここから本文 -->

<%= image_tag 'columns/colom-image14-1.jpg', class: "img-gaido" %>

<p class="gaido-contens-moji2">
学校を選ぶ際の重要なポイントの一つに「学費」がありますよね。
</p>


<p class="gaido-contens-moji2">
ドローンスクールについても、学校ごとに学費が設定されているわけですが、どれくらい学費が異なるのか知りたくありませんか！？
</p>

<p class="gaido-contens-moji2">
私は気になりました。。。笑
</p>

<p class="gaido-contens-moji2">
という訳で、ドローンスクールの学費を一挙に比較していきたいと思います。
</p>

<p class="gaido-contens-moji2">
学校によって学費はどれくらい異なるのでしょうか。
</p>

<p class="gaido-contens-moji2">
確認してみましょう。
</p>








<h1 class="gaido-contens-moji1">
１．ベストドローンスクール掲載の学校一覧
</h1>

<p class="gaido-contens-moji2">
ベストドローンスクール掲載の54校を一覧にしてみました。※2017年3月5日現在
</p>

<p class="gaido-contens-moji2">
学費については、学校ごとに色々設定されているので、今回は「操縦（ドローンの基本操縦が身に付く）」に絞って学費を比較していきたいと思います。基本操縦が身に付くがどうかは、各学校HPをみて独自に判断しております。（授業の質などは考慮せずに、単純な学費での比較です。）
</p>



<table class=" aligncenter" style="width: 100%;">
<tbody>
<tr style="height: 96px;">
<th style="width: 20%; height: 96px; text-align: center; vertical-align: middle;"><span style="color: #000000; font-size: 10pt;">学校名</span></th>
<th style="width: 313.73px; height: 96px; text-align: center; vertical-align: middle;"><span style="color: #000000; font-size: 10pt;">都道府県</span></th>
<th style="width: 313.73px; height: 96px; text-align: center; vertical-align: middle;"><span style="color: #000000; font-size: 10pt;">認定組織</span></th>
<th style="width: 313.73px; height: 96px; text-align: center; vertical-align: middle;"><span style="color: #000000; font-size: 10pt;">学費（税込）</span>

<span style="color: #000000; font-size: 10pt;">※ドローンの基本操縦を学ぶ為の学費</span></th>
<th style="width: 313.73px; height: 96px; text-align: center; vertical-align: middle;"><span style="color: #000000; font-size: 10pt;">授業日数</span>

<span style="color: #000000; font-size: 10pt;">（最低受講日数を掲載）</span></th>
<th style="width: 313.73px; height: 96px; text-align: center; vertical-align: middle;"><span style="color: #000000; font-size: 10pt;">学費</span>

<span style="color: #000000; font-size: 10pt;">（１日辺り）</span></th>
</tr>
<tr style="height: 24px;">
<td style="width: 313.73px; height: 24px; text-align: center;"><span style="color: #000000; font-size: 10pt;">日本ドローンアカデミー札幌校</span></td>
<td style="width: 113px; height: 24px; text-align: center;"><span style="color: #000000; font-size: 10pt;">北海道</span></td>
<td style="width: 113px; height: 24px; text-align: center;"><span style="color: #000000; font-size: 10pt;">JUIDA</span></td>
<td style="width: 205.45px; height: 24px; text-align: center;"><span style="color: #000000; font-size: 10pt;">¥318,600</span></td>
<td style="width: 124.54px; height: 24px; text-align: center;"><span style="color: #000000; font-size: 10pt;">5</span></td>
<td style="width: 125.28px; height: 24px; text-align: center;"><span style="color: #000000; font-size: 10pt;">¥63,720</span></td>
</tr>
<tr style="height: 24px;">
<td style="width: 313.73px; height: 24px; text-align: center;"><span style="color: #000000; font-size: 10pt;">Hito-Robo Academy</span></td>
<td style="width: 113px; height: 24px; text-align: center;"><span style="color: #000000; font-size: 10pt;">宮城県</span></td>
<td style="width: 113px; height: 24px; text-align: center;"><span style="color: #000000; font-size: 10pt;">JUIDA</span></td>
<td style="width: 205.45px; height: 24px; text-align: center;"><span style="color: #000000; font-size: 10pt;">¥291,600</span></td>
<td style="width: 124.54px; height: 24px; text-align: center;"><span style="color: #000000; font-size: 10pt;">4</span></td>
<td style="width: 125.28px; height: 24px; text-align: center;"><span style="color: #000000; font-size: 10pt;">¥72,900</span></td>
</tr>
<tr style="height: 24px;">
<td style="width: 313.73px; height: 24px; text-align: center;"><span style="color: #000000; font-size: 10pt;">Ｄアカデミー東北</span></td>
<td style="width: 113px; height: 24px; text-align: center;"><span style="color: #000000; font-size: 10pt;">秋田県</span></td>
<td style="width: 113px; height: 24px; text-align: center;"><span style="color: #000000; font-size: 10pt;">JUIDA</span></td>
<td style="width: 205.45px; height: 24px; text-align: center;"><span style="color: #000000; font-size: 10pt;">¥291,600</span></td>
<td style="width: 124.54px; height: 24px; text-align: center;"><span style="color: #000000; font-size: 10pt;">4</span></td>
<td style="width: 125.28px; height: 24px; text-align: center;"><span style="color: #000000; font-size: 10pt;">¥72,900</span></td>
</tr>
<tr style="height: 24px;">
<td style="width: 313.73px; height: 24px; text-align: center;"><span style="color: #000000; font-size: 10pt;">福島ドローンスクール</span></td>
<td style="width: 113px; height: 24px; text-align: center;"><span style="color: #000000; font-size: 10pt;">福島県</span></td>
<td style="width: 113px; height: 24px; text-align: center;"><span style="color: #000000; font-size: 10pt;">JUIDA</span></td>
<td style="width: 205.45px; height: 24px; text-align: center;"><span style="color: #000000; font-size: 10pt;">¥280,800</span></td>
<td style="width: 124.54px; height: 24px; text-align: center;"><span style="color: #000000; font-size: 10pt;">4</span></td>
<td style="width: 125.28px; height: 24px; text-align: center;"><span style="color: #000000; font-size: 10pt;">¥70,200</span></td>
</tr>
<tr style="height: 24px;">
<td style="width: 313.73px; height: 24px; text-align: center;"><span style="color: #000000; font-size: 10pt;">TSUKUBA DRONE SCHOOL</span></td>
<td style="width: 113px; height: 24px; text-align: center;"><span style="color: #000000; font-size: 10pt;">茨城県</span></td>
<td style="width: 113px; height: 24px; text-align: center;"><span style="color: #000000; font-size: 10pt;">JUIDA</span></td>
<td style="width: 205.45px; height: 24px; text-align: center;"><span style="color: #000000; font-size: 10pt;">¥367,200</span></td>
<td style="width: 124.54px; height: 24px; text-align: center;"><span style="color: #000000; font-size: 10pt;">4</span></td>
<td style="width: 125.28px; height: 24px; text-align: center;"><span style="color: #000000; font-size: 10pt;">¥91,800</span></td>
</tr>
<tr style="height: 24px;">
<td style="width: 313.73px; height: 24px; text-align: center;"><span style="color: #000000; font-size: 10pt;">Mighty Wings 那須塩原ドローンスクール</span></td>
<td style="width: 113px; height: 24px; text-align: center;"><span style="color: #000000; font-size: 10pt;">栃木県</span></td>
<td style="width: 113px; height: 24px; text-align: center;"><span style="color: #000000; font-size: 10pt;">JUIDA</span></td>
<td style="width: 205.45px; height: 24px; text-align: center;"><span style="color: #000000; font-size: 10pt;">¥334,800</span></td>
<td style="width: 124.54px; height: 24px; text-align: center;"><span style="color: #000000; font-size: 10pt;">5</span></td>
<td style="width: 125.28px; height: 24px; text-align: center;"><span style="color: #000000; font-size: 10pt;">¥66,960</span></td>
</tr>
<tr style="height: 24px;">
<td style="width: 313.73px; height: 24px; text-align: center;"><span style="color: #000000; font-size: 10pt;">群馬インターネット株式会社</span></td>
<td style="width: 113px; height: 24px; text-align: center;"><span style="color: #000000; font-size: 10pt;">群馬県</span></td>
<td style="width: 113px; height: 24px; text-align: center;"><span style="color: #000000; font-size: 10pt;">JUIDA / DJI</span></td>
<td style="width: 205.45px; height: 24px; text-align: center;"><span style="color: #000000; font-size: 10pt;">¥302,400</span></td>
<td style="width: 124.54px; height: 24px; text-align: center;"><span style="color: #000000; font-size: 10pt;">3</span></td>
<td style="width: 125.28px; height: 24px; text-align: center;"><span style="color: #000000; font-size: 10pt;">¥100,800</span></td>
</tr>
<tr style="height: 24px;">
<td style="width: 313.73px; height: 24px; text-align: center;"><span style="color: #000000; font-size: 10pt;">DRONE VILLAGE</span></td>
<td style="width: 113px; height: 24px; text-align: center;"><span style="color: #000000; font-size: 10pt;">千葉県</span></td>
<td style="width: 113px; height: 24px; text-align: center;"><span style="color: #000000; font-size: 10pt;">JUIDA</span></td>
<td style="width: 205.45px; height: 24px; text-align: center;"><span style="color: #000000; font-size: 10pt;">¥194,400</span></td>
<td style="width: 124.54px; height: 24px; text-align: center;"><span style="color: #000000; font-size: 10pt;">4</span></td>
<td style="width: 125.28px; height: 24px; text-align: center;"><span style="color: #000000; font-size: 10pt;">¥48,600</span></td>
</tr>
<tr style="height: 24px;">
<td style="width: 313.73px; height: 24px; text-align: center;"><span style="color: #000000; font-size: 10pt;">Futaba ドローンスクール</span></td>
<td style="width: 113px; height: 24px; text-align: center;"><span style="color: #000000; font-size: 10pt;">千葉県</span></td>
<td style="width: 113px; height: 24px; text-align: center;"><span style="color: #000000; font-size: 10pt;">JUIDA</span></td>
<td style="width: 205.45px; height: 24px; text-align: center;"><span style="color: #000000; font-size: 10pt;">¥378,000</span></td>
<td style="width: 124.54px; height: 24px; text-align: center;"><span style="color: #000000; font-size: 10pt;">5</span></td>
<td style="width: 125.28px; height: 24px; text-align: center;"><span style="color: #000000; font-size: 10pt;">¥75,600</span></td>
</tr>
<tr style="height: 24px;">
<td style="width: 313.73px; height: 24px; text-align: center;"><span style="color: #000000; font-size: 10pt;">秋葉原ドローンスクール</span></td>
<td style="width: 113px; height: 24px; text-align: center;"><span style="color: #000000; font-size: 10pt;">東京都</span></td>
<td style="width: 113px; height: 24px; text-align: center;"><span style="color: #000000; font-size: 10pt;">JUIDA</span></td>
<td style="width: 205.45px; height: 24px; text-align: center;"><span style="color: #000000; font-size: 10pt;">¥321,840</span></td>
<td style="width: 124.54px; height: 24px; text-align: center;"><span style="color: #000000; font-size: 10pt;">4</span></td>
<td style="width: 125.28px; height: 24px; text-align: center;"><span style="color: #000000; font-size: 10pt;">¥80,460</span></td>
</tr>
<tr style="height: 24px;">
<td style="width: 313.73px; height: 24px; text-align: center;"><span style="color: #000000; font-size: 10pt;">国際航業株式会社 　東京</span></td>
<td style="width: 113px; height: 24px; text-align: center;"><span style="color: #000000; font-size: 10pt;">東京都</span></td>
<td style="width: 113px; height: 24px; text-align: center;"><span style="color: #000000; font-size: 10pt;">JUIDA</span></td>
<td style="width: 205.45px; height: 24px; text-align: center;"><span style="color: #000000; font-size: 10pt;">¥291,600</span></td>
<td style="width: 124.54px; height: 24px; text-align: center;"><span style="color: #000000; font-size: 10pt;">5</span></td>
<td style="width: 125.28px; height: 24px; text-align: center;"><span style="color: #000000; font-size: 10pt;">¥58,320</span></td>
</tr>
<tr style="height: 24px;">
<td style="width: 313.73px; height: 24px; text-align: center;"><span style="color: #000000; font-size: 10pt;">スカイエステート</span></td>
<td style="width: 113px; height: 24px; text-align: center;"><span style="color: #000000; font-size: 10pt;">東京都</span></td>
<td style="width: 113px; height: 24px; text-align: center;"><span style="color: #000000; font-size: 10pt;">DPA</span></td>
<td style="width: 205.45px; height: 24px; text-align: center;"><span style="color: #000000; font-size: 10pt;">¥108,000</span></td>
<td style="width: 124.54px; height: 24px; text-align: center;"><span style="color: #000000; font-size: 10pt;">2</span></td>
<td style="width: 125.28px; height: 24px; text-align: center;"><span style="color: #000000; font-size: 10pt;">¥54,000</span></td>
</tr>
<tr style="height: 24px;">
<td style="width: 313.73px; height: 24px; text-align: center;"><span style="color: #000000; font-size: 10pt;">デジタルハリウッドロボティクスアカデミー</span></td>
<td style="width: 113px; height: 24px; text-align: center;"><span style="color: #000000; font-size: 10pt;">東京都</span></td>
<td style="width: 113px; height: 24px; text-align: center;"><span style="color: #000000; font-size: 10pt;">JUIDA</span></td>
<td style="width: 205.45px; height: 24px; text-align: center;"><span style="color: #000000; font-size: 10pt;">¥172,800</span></td>
<td style="width: 124.54px; height: 24px; text-align: center;"><span style="color: #000000; font-size: 10pt;">5</span></td>
<td style="width: 125.28px; height: 24px; text-align: center;"><span style="color: #000000; font-size: 10pt;">¥34,560</span></td>
</tr>
<tr style="height: 24px;">
<td style="width: 313.73px; height: 24px; text-align: center;"><span style="color: #000000; font-size: 10pt;">Dアカデミー関東東京校（本部）</span></td>
<td style="width: 113px; height: 24px; text-align: center;"><span style="color: #000000; font-size: 10pt;">東京都</span></td>
<td style="width: 113px; height: 24px; text-align: center;"><span style="color: #000000; font-size: 10pt;">JUIDA</span></td>
<td style="width: 205.45px; height: 24px; text-align: center;"><span style="color: #000000; font-size: 10pt;">¥151,200</span></td>
<td style="width: 124.54px; height: 24px; text-align: center;"><span style="color: #000000; font-size: 10pt;">4</span></td>
<td style="width: 125.28px; height: 24px; text-align: center;"><span style="color: #000000; font-size: 10pt;">¥37,800</span></td>
</tr>
<tr style="height: 25px;">
<td style="width: 313.73px; height: 25px; text-align: center;"><span style="color: #000000; font-size: 10pt;">DJI CAMP</span></td>
<td style="width: 113px; height: 25px; text-align: center;"><span style="color: #000000; font-size: 10pt;">東京都</span></td>
<td style="width: 113px; height: 25px; text-align: center;"><span style="color: #000000; font-size: 10pt;">DJI</span></td>
<td style="width: 205.45px; height: 25px; text-align: center;"><span style="color: #000000; font-size: 10pt;">¥64,800</span></td>
<td style="width: 124.54px; height: 25px; text-align: center;"><span style="color: #000000; font-size: 10pt;">2</span></td>
<td style="width: 125.28px; height: 25px; text-align: center;"><span style="color: #000000; font-size: 10pt;">¥32,400</span></td>
</tr>
<tr style="height: 24px;">
<td style="width: 313.73px; height: 24px; text-align: center;"><span style="color: #000000; font-size: 10pt;">ドローンスクールジャパン</span></td>
<td style="width: 113px; height: 24px; text-align: center;"><span style="color: #000000; font-size: 10pt;">東京都</span></td>
<td style="width: 113px; height: 24px; text-align: center;"><span style="color: #000000; font-size: 10pt;">DPA</span></td>
<td style="width: 205.45px; height: 24px; text-align: center;"><span style="color: #000000; font-size: 10pt;">¥108,000</span></td>
<td style="width: 124.54px; height: 24px; text-align: center;"><span style="color: #000000; font-size: 10pt;">2</span></td>
<td style="width: 125.28px; height: 24px; text-align: center;"><span style="color: #000000; font-size: 10pt;">¥54,000</span></td>
</tr>
<tr style="height: 24px;">
<td style="width: 313.73px; height: 24px; text-align: center;"><span style="color: #000000; font-size: 10pt;">ドローン大学校</span></td>
<td style="width: 113px; height: 24px; text-align: center;"><span style="color: #000000; font-size: 10pt;">東京都</span></td>
<td style="width: 113px; height: 24px; text-align: center;"><span style="color: #000000; font-size: 10pt;">JUIDA</span></td>
<td style="width: 205.45px; height: 24px; text-align: center;"><span style="color: #000000; font-size: 10pt;">¥421,200</span></td>
<td style="width: 124.54px; height: 24px; text-align: center;"><span style="color: #000000; font-size: 10pt;">12</span></td>
<td style="width: 125.28px; height: 24px; text-align: center;"><span style="color: #000000; font-size: 10pt;">¥35,100</span></td>
</tr>
<tr style="height: 24px;">
<td style="width: 313.73px; height: 24px; text-align: center;"><span style="color: #000000; font-size: 10pt;">日本ドローンアカデミー</span></td>
<td style="width: 113px; height: 24px; text-align: center;"><span style="color: #000000; font-size: 10pt;">東京都</span></td>
<td style="width: 113px; height: 24px; text-align: center;"><span style="color: #000000; font-size: 10pt;">JUIDA</span></td>
<td style="width: 205.45px; height: 24px; text-align: center;"><span style="color: #000000; font-size: 10pt;">¥318,600</span></td>
<td style="width: 124.54px; height: 24px; text-align: center;"><span style="color: #000000; font-size: 10pt;">7</span></td>
<td style="width: 125.28px; height: 24px; text-align: center;"><span style="color: #000000; font-size: 10pt;">¥45,514</span></td>
</tr>
<tr style="height: 24px;">
<td style="width: 313.73px; height: 24px; text-align: center;"><span style="color: #000000; font-size: 10pt;">バンタンデザイン研究所キャリアカレッジ</span></td>
<td style="width: 113px; height: 24px; text-align: center;"><span style="color: #000000; font-size: 10pt;">東京都</span></td>
<td style="width: 113px; height: 24px; text-align: center;"><span style="color: #000000; font-size: 10pt;">DPA</span></td>
<td style="width: 205.45px; height: 24px; text-align: center;"><span style="color: #000000; font-size: 10pt;">¥400,000</span></td>
<td style="width: 124.54px; height: 24px; text-align: center;"><span style="color: #000000; font-size: 10pt;">16</span></td>
<td style="width: 125.28px; height: 24px; text-align: center;"><span style="color: #000000; font-size: 10pt;">¥25,000</span></td>
</tr>
<tr style="height: 24px;">
<td style="width: 313.73px; height: 24px; text-align: center;"><span style="color: #000000; font-size: 10pt;">Y'sドローンスクール</span></td>
<td style="width: 113px; height: 24px; text-align: center;"><span style="color: #000000; font-size: 10pt;">東京都</span></td>
<td style="width: 113px; height: 24px; text-align: center;"><span style="color: #000000; font-size: 10pt;">JUIDA</span></td>
<td style="width: 205.45px; height: 24px; text-align: center;"><span style="color: #000000; font-size: 10pt;">¥310,000</span></td>
<td style="width: 124.54px; height: 24px; text-align: center;"><span style="color: #000000; font-size: 10pt;">7</span></td>
<td style="width: 125.28px; height: 24px; text-align: center;"><span style="color: #000000; font-size: 10pt;">¥44,286</span></td>
</tr>
<tr style="height: 24px;">
<td style="width: 313.73px; height: 24px; text-align: center;"><span style="color: #000000; font-size: 10pt;">有限会社トラスト</span></td>
<td style="width: 113px; height: 24px; text-align: center;"><span style="color: #000000; font-size: 10pt;">東京都</span></td>
<td style="width: 113px; height: 24px; text-align: center;"><span style="color: #000000; font-size: 10pt;">JUIDA</span></td>
<td style="width: 205.45px; height: 24px; text-align: center;"><span style="color: #000000; font-size: 10pt;">¥378,000</span></td>
<td style="width: 124.54px; height: 24px; text-align: center;"><span style="color: #000000; font-size: 10pt;">3</span></td>
<td style="width: 125.28px; height: 24px; text-align: center;"><span style="color: #000000; font-size: 10pt;">¥126,000</span></td>
</tr>
<tr style="height: 24px;">
<td style="width: 313.73px; height: 24px; text-align: center;"><span style="color: #000000; font-size: 10pt;">DJI CAMP（セキド）</span></td>
<td style="width: 113px; height: 24px; text-align: center;"><span style="color: #000000; font-size: 10pt;">東京都</span></td>
<td style="width: 113px; height: 24px; text-align: center;"><span style="color: #000000; font-size: 10pt;">DJI</span></td>
<td style="width: 205.45px; height: 24px; text-align: center;"><span style="color: #000000; font-size: 10pt;">¥64,800</span></td>
<td style="width: 124.54px; height: 24px; text-align: center;"><span style="color: #000000; font-size: 10pt;">2</span></td>
<td style="width: 125.28px; height: 24px; text-align: center;"><span style="color: #000000; font-size: 10pt;">¥32,400</span></td>
</tr>
<tr style="height: 24px;">
<td style="width: 313.73px; height: 24px; text-align: center;"><span style="color: #000000; font-size: 10pt;">サイトテック株式会社</span></td>
<td style="width: 113px; height: 24px; text-align: center;"><span style="color: #000000; font-size: 10pt;">山梨県</span></td>
<td style="width: 113px; height: 24px; text-align: center;"><span style="color: #000000; font-size: 10pt;">JUIDA</span></td>
<td style="width: 205.45px; height: 24px; text-align: center;"><span style="color: #000000; font-size: 10pt;">¥345,600</span></td>
<td style="width: 124.54px; height: 24px; text-align: center;"><span style="color: #000000; font-size: 10pt;">3</span></td>
<td style="width: 125.28px; height: 24px; text-align: center;"><span style="color: #000000; font-size: 10pt;">¥115,200</span></td>
</tr>
<tr style="height: 24px;">
<td style="width: 313.73px; height: 24px; text-align: center;"><span style="color: #000000; font-size: 10pt;">日本航空学園</span></td>
<td style="width: 113px; height: 24px; text-align: center;"><span style="color: #000000; font-size: 10pt;">山梨県</span></td>
<td style="width: 113px; height: 24px; text-align: center;"><span style="color: #000000; font-size: 10pt;">JUIDA</span></td>
<td style="width: 205.45px; height: 24px; text-align: center;"><span style="color: #000000; font-size: 10pt;">¥216,000</span></td>
<td style="width: 124.54px; height: 24px; text-align: center;"><span style="color: #000000; font-size: 10pt;">6</span></td>
<td style="width: 125.28px; height: 24px; text-align: center;"><span style="color: #000000; font-size: 10pt;">¥36,000</span></td>
</tr>
<tr style="height: 24px;">
<td style="width: 313.73px; height: 24px; text-align: center;"><span style="color: #000000; font-size: 10pt;">エアフィールド・アイ</span></td>
<td style="width: 113px; height: 24px; text-align: center;"><span style="color: #000000; font-size: 10pt;">長野県</span></td>
<td style="width: 113px; height: 24px; text-align: center;"><span style="color: #000000; font-size: 10pt;">独自</span></td>
<td style="width: 205.45px; height: 24px; text-align: center;"><span style="color: #000000; font-size: 10pt;">¥85,000</span></td>
<td style="width: 124.54px; height: 24px; text-align: center;"><span style="color: #000000; font-size: 10pt;">3</span></td>
<td style="width: 125.28px; height: 24px; text-align: center;"><span style="color: #000000; font-size: 10pt;">¥28,333</span></td>
</tr>
<tr style="height: 24px;">
<td style="width: 313.73px; height: 24px; text-align: center;"><span style="color: #000000; font-size: 10pt;">信州・北信濃ドローンスクール</span></td>
<td style="width: 113px; height: 24px; text-align: center;"><span style="color: #000000; font-size: 10pt;">長野県</span></td>
<td style="width: 113px; height: 24px; text-align: center;"><span style="color: #000000; font-size: 10pt;">JUIDA</span></td>
<td style="width: 205.45px; height: 24px; text-align: center;"><span style="color: #000000; font-size: 10pt;">¥270,000</span></td>
<td style="width: 124.54px; height: 24px; text-align: center;"><span style="color: #000000; font-size: 10pt;">3</span></td>
<td style="width: 125.28px; height: 24px; text-align: center;"><span style="color: #000000; font-size: 10pt;">¥90,000</span></td>
</tr>
<tr style="height: 24px;">
<td style="width: 313.73px; height: 24px; text-align: center;"><span style="color: #000000; font-size: 10pt;">ドローンパイロットアカデミー東海</span></td>
<td style="width: 113px; height: 24px; text-align: center;"><span style="color: #000000; font-size: 10pt;">岐阜県</span></td>
<td style="width: 113px; height: 24px; text-align: center;"><span style="color: #000000; font-size: 10pt;">独自</span></td>
<td style="width: 205.45px; height: 24px; text-align: center;"><span style="color: #000000; font-size: 10pt;">¥130,000</span></td>
<td style="width: 124.54px; height: 24px; text-align: center;"><span style="color: #000000; font-size: 10pt;">2</span></td>
<td style="width: 125.28px; height: 24px; text-align: center;"><span style="color: #000000; font-size: 10pt;">¥65,000</span></td>
</tr>
<tr style="height: 24px;">
<td style="width: 313.73px; height: 24px; text-align: center;"><span style="color: #000000; font-size: 10pt;">ドローンスクール静岡</span></td>
<td style="width: 113px; height: 24px; text-align: center;"><span style="color: #000000; font-size: 10pt;">静岡県</span></td>
<td style="width: 113px; height: 24px; text-align: center;"><span style="color: #000000; font-size: 10pt;">JUIDA</span></td>
<td style="width: 205.45px; height: 24px; text-align: center;"><span style="color: #000000; font-size: 10pt;">¥420,120</span></td>
<td style="width: 124.54px; height: 24px; text-align: center;"><span style="color: #000000; font-size: 10pt;">5</span></td>
<td style="width: 125.28px; height: 24px; text-align: center;"><span style="color: #000000; font-size: 10pt;">¥84,024</span></td>
</tr>
<tr style="height: 24.12px;">
<td style="width: 313.73px; height: 24.12px; text-align: center;"><span style="color: #000000; font-size: 10pt;">ドローンスクールジャパン静岡掛川校</span></td>
<td style="width: 113px; height: 24.12px; text-align: center;"><span style="color: #000000; font-size: 10pt;">静岡県</span></td>
<td style="width: 113px; height: 24.12px; text-align: center;"><span style="color: #000000; font-size: 10pt;">DPA</span></td>
<td style="width: 205.45px; height: 24.12px; text-align: center;"><span style="color: #000000; font-size: 10pt;">¥108,000</span></td>
<td style="width: 124.54px; height: 24.12px; text-align: center;"><span style="color: #000000; font-size: 10pt;">2</span></td>
<td style="width: 125.28px; height: 24.12px; text-align: center;"><span style="color: #000000; font-size: 10pt;">¥54,000</span></td>
</tr>
<tr style="height: 24px;">
<td style="width: 313.73px; height: 24px; text-align: center;"><span style="color: #000000; font-size: 10pt;">DJI CAMP（KACHISUTA）</span></td>
<td style="width: 113px; height: 24px; text-align: center;"><span style="color: #000000; font-size: 10pt;">静岡県</span></td>
<td style="width: 113px; height: 24px; text-align: center;"><span style="color: #000000; font-size: 10pt;">DJI</span></td>
<td style="width: 205.45px; height: 24px; text-align: center;"><span style="color: #000000; font-size: 10pt;">¥86,400</span></td>
<td style="width: 124.54px; height: 24px; text-align: center;"><span style="color: #000000; font-size: 10pt;">2</span></td>
<td style="width: 125.28px; height: 24px; text-align: center;"><span style="color: #000000; font-size: 10pt;">¥43,200</span></td>
</tr>
<tr style="height: 24px;">
<td style="width: 313.73px; height: 24px; text-align: center;"><span style="color: #000000; font-size: 10pt;">日本DMC株式会社　静岡校</span></td>
<td style="width: 113px; height: 24px; text-align: center;"><span style="color: #000000; font-size: 10pt;">静岡県</span></td>
<td style="width: 113px; height: 24px; text-align: center;"><span style="color: #000000; font-size: 10pt;">JUIDA</span></td>
<td style="width: 205.45px; height: 24px; text-align: center;"><span style="color: #000000; font-size: 10pt;">¥270,000</span></td>
<td style="width: 124.54px; height: 24px; text-align: center;"><span style="color: #000000; font-size: 10pt;">5</span></td>
<td style="width: 125.28px; height: 24px; text-align: center;"><span style="color: #000000; font-size: 10pt;">¥54,000</span></td>
</tr>
<tr style="height: 24px;">
<td style="width: 313.73px; height: 24px; text-align: center;"><span style="color: #000000; font-size: 10pt;">日本DMC株式会社　浜松校</span></td>
<td style="width: 113px; height: 24px; text-align: center;"><span style="color: #000000; font-size: 10pt;">静岡県</span></td>
<td style="width: 113px; height: 24px; text-align: center;"><span style="color: #000000; font-size: 10pt;">JUIDA</span></td>
<td style="width: 205.45px; height: 24px; text-align: center;"><span style="color: #000000; font-size: 10pt;">¥270,000</span></td>
<td style="width: 124.54px; height: 24px; text-align: center;"><span style="color: #000000; font-size: 10pt;">5</span></td>
<td style="width: 125.28px; height: 24px; text-align: center;"><span style="color: #000000; font-size: 10pt;">¥54,000</span></td>
</tr>
<tr style="height: 24px;">
<td style="width: 313.73px; height: 24px; text-align: center;"><span style="color: #000000; font-size: 10pt;">日本DMC株式会社　沼津校</span></td>
<td style="width: 113px; height: 24px; text-align: center;"><span style="color: #000000; font-size: 10pt;">静岡県</span></td>
<td style="width: 113px; height: 24px; text-align: center;"><span style="color: #000000; font-size: 10pt;">JUIDA</span></td>
<td style="width: 205.45px; height: 24px; text-align: center;"><span style="color: #000000; font-size: 10pt;">¥270,000</span></td>
<td style="width: 124.54px; height: 24px; text-align: center;"><span style="color: #000000; font-size: 10pt;">5</span></td>
<td style="width: 125.28px; height: 24px; text-align: center;"><span style="color: #000000; font-size: 10pt;">¥54,000</span></td>
</tr>
<tr style="height: 24px;">
<td style="width: 313.73px; height: 24px; text-align: center;"><span style="color: #000000; font-size: 10pt;">ドローン大学校 名古屋キャンパス</span></td>
<td style="width: 113px; height: 24px; text-align: center;"><span style="color: #000000; font-size: 10pt;">愛知県</span></td>
<td style="width: 113px; height: 24px; text-align: center;"><span style="color: #000000; font-size: 10pt;">JUIDA</span></td>
<td style="width: 205.45px; height: 24px; text-align: center;"><span style="color: #000000; font-size: 10pt;">¥421,200</span></td>
<td style="width: 124.54px; height: 24px; text-align: center;"><span style="color: #000000; font-size: 10pt;">11</span></td>
<td style="width: 125.28px; height: 24px; text-align: center;"><span style="color: #000000; font-size: 10pt;">¥38,291</span></td>
</tr>
<tr style="height: 24px;">
<td style="width: 313.73px; height: 24px; text-align: center;"><span style="color: #000000; font-size: 10pt;">アイオス・無人航空機スクール</span></td>
<td style="width: 113px; height: 24px; text-align: center;"><span style="color: #000000; font-size: 10pt;">三重県</span></td>
<td style="width: 113px; height: 24px; text-align: center;"><span style="color: #000000; font-size: 10pt;">JUIDA</span></td>
<td style="width: 205.45px; height: 24px; text-align: center;"><span style="color: #000000; font-size: 10pt;">¥216,000</span></td>
<td style="width: 124.54px; height: 24px; text-align: center;"><span style="color: #000000; font-size: 10pt;">4</span></td>
<td style="width: 125.28px; height: 24px; text-align: center;"><span style="color: #000000; font-size: 10pt;">¥54,000</span></td>
</tr>
<tr style="height: 24px;">
<td style="width: 313.73px; height: 24px; text-align: center;"><span style="color: #000000; font-size: 10pt;">ドローン撮影クリエイターズ協会</span></td>
<td style="width: 113px; height: 24px; text-align: center;"><span style="color: #000000; font-size: 10pt;">京都府</span></td>
<td style="width: 113px; height: 24px; text-align: center;"><span style="color: #000000; font-size: 10pt;">JUIDA</span></td>
<td style="width: 205.45px; height: 24px; text-align: center;"><span style="color: #000000; font-size: 10pt;">¥226,800</span></td>
<td style="width: 124.54px; height: 24px; text-align: center;"><span style="color: #000000; font-size: 10pt;">4</span></td>
<td style="width: 125.28px; height: 24px; text-align: center;"><span style="color: #000000; font-size: 10pt;">¥56,700</span></td>
</tr>
<tr style="height: 24px;">
<td style="width: 313.73px; height: 24px; text-align: center;"><span style="color: #000000; font-size: 10pt;">関西ドロ－ン安全協議会 大阪スク－ル</span></td>
<td style="width: 113px; height: 24px; text-align: center;"><span style="color: #000000; font-size: 10pt;">大阪府</span></td>
<td style="width: 113px; height: 24px; text-align: center;"><span style="color: #000000; font-size: 10pt;">JUIDA</span></td>
<td style="width: 205.45px; height: 24px; text-align: center;"><span style="color: #000000; font-size: 10pt;">¥248,400</span></td>
<td style="width: 124.54px; height: 24px; text-align: center;"><span style="color: #000000; font-size: 10pt;">3</span></td>
<td style="width: 125.28px; height: 24px; text-align: center;"><span style="color: #000000; font-size: 10pt;">¥82,800</span></td>
</tr>
<tr style="height: 24px;">
<td style="width: 313.73px; height: 24px; text-align: center;"><span style="color: #000000; font-size: 10pt;">関西ドロ－ン安全協議会 滋賀スク－ル</span></td>
<td style="width: 113px; height: 24px; text-align: center;"><span style="color: #000000; font-size: 10pt;">滋賀県</span></td>
<td style="width: 113px; height: 24px; text-align: center;"><span style="color: #000000; font-size: 10pt;">JUIDA</span></td>
<td style="width: 205.45px; height: 24px; text-align: center;"><span style="color: #000000; font-size: 10pt;">¥248,400</span></td>
<td style="width: 124.54px; height: 24px; text-align: center;"><span style="color: #000000; font-size: 10pt;">3</span></td>
<td style="width: 125.28px; height: 24px; text-align: center;"><span style="color: #000000; font-size: 10pt;">¥82,800</span></td>
</tr>
<tr style="height: 24px;">
<td style="width: 313.73px; height: 24px; text-align: center;"><span style="color: #000000; font-size: 10pt;">国際航業株式会社　兵庫</span></td>
<td style="width: 113px; height: 24px; text-align: center;"><span style="color: #000000; font-size: 10pt;">兵庫県</span></td>
<td style="width: 113px; height: 24px; text-align: center;"><span style="color: #000000; font-size: 10pt;">JUIDA</span></td>
<td style="width: 205.45px; height: 24px; text-align: center;"><span style="color: #000000; font-size: 10pt;">¥291,600</span></td>
<td style="width: 124.54px; height: 24px; text-align: center;"><span style="color: #000000; font-size: 10pt;">5</span></td>
<td style="width: 125.28px; height: 24px; text-align: center;"><span style="color: #000000; font-size: 10pt;">¥58,320</span></td>
</tr>
<tr style="height: 24px;">
<td style="width: 313.73px; height: 24px; text-align: center;"><span style="color: #000000; font-size: 10pt;">ドローン活用技能スクール 兵庫但馬スクール</span></td>
<td style="width: 113px; height: 24px; text-align: center;"><span style="color: #000000; font-size: 10pt;">兵庫県</span></td>
<td style="width: 113px; height: 24px; text-align: center;"><span style="color: #000000; font-size: 10pt;">JUIDA</span></td>
<td style="width: 205.45px; height: 24px; text-align: center;"><span style="color: #000000; font-size: 10pt;">¥162,000</span></td>
<td style="width: 124.54px; height: 24px; text-align: center;"><span style="color: #000000; font-size: 10pt;">3</span></td>
<td style="width: 125.28px; height: 24px; text-align: center;"><span style="color: #000000; font-size: 10pt;">¥54,000</span></td>
</tr>
<tr style="height: 24px;">
<td style="width: 313.73px; height: 24px; text-align: center;"><span style="color: #000000; font-size: 10pt;">ドローン活用技能スクール 兵庫南あわじスクール</span></td>
<td style="width: 113px; height: 24px; text-align: center;"><span style="color: #000000; font-size: 10pt;">兵庫県</span></td>
<td style="width: 113px; height: 24px; text-align: center;"><span style="color: #000000; font-size: 10pt;">JUIDA</span></td>
<td style="width: 205.45px; height: 24px; text-align: center;"><span style="color: #000000; font-size: 10pt;">¥162,000</span></td>
<td style="width: 124.54px; height: 24px; text-align: center;"><span style="color: #000000; font-size: 10pt;">3</span></td>
<td style="width: 125.28px; height: 24px; text-align: center;"><span style="color: #000000; font-size: 10pt;">¥54,000</span></td>
</tr>
<tr style="height: 24px;">
<td style="width: 313.73px; height: 24px; text-align: center;"><span style="color: #000000; font-size: 10pt;">関西ドロ－ン安全協議会 奈良スク－ル</span></td>
<td style="width: 113px; height: 24px; text-align: center;"><span style="color: #000000; font-size: 10pt;">奈良県</span></td>
<td style="width: 113px; height: 24px; text-align: center;"><span style="color: #000000; font-size: 10pt;">JUIDA</span></td>
<td style="width: 205.45px; height: 24px; text-align: center;"><span style="color: #000000; font-size: 10pt;">¥248,400</span></td>
<td style="width: 124.54px; height: 24px; text-align: center;"><span style="color: #000000; font-size: 10pt;">3</span></td>
<td style="width: 125.28px; height: 24px; text-align: center;"><span style="color: #000000; font-size: 10pt;">¥82,800</span></td>
</tr>
<tr style="height: 24px;">
<td style="width: 313.73px; height: 24px; text-align: center;"><span style="color: #000000; font-size: 10pt;">ドローントレーニングセンターけいはんな</span></td>
<td style="width: 113px; height: 24px; text-align: center;"><span style="color: #000000; font-size: 10pt;">和歌山県</span></td>
<td style="width: 113px; height: 24px; text-align: center;"><span style="color: #000000; font-size: 10pt;">JUIDA</span></td>
<td style="width: 205.45px; height: 24px; text-align: center;"><span style="color: #000000; font-size: 10pt;">¥213,840</span></td>
<td style="width: 124.54px; height: 24px; text-align: center;"><span style="color: #000000; font-size: 10pt;">4</span></td>
<td style="width: 125.28px; height: 24px; text-align: center;"><span style="color: #000000; font-size: 10pt;">¥53,460</span></td>
</tr>
<tr style="height: 24px;">
<td style="width: 313.73px; height: 24px; text-align: center;"><span style="color: #000000; font-size: 10pt;">ドローンデパートメント株式会社</span></td>
<td style="width: 113px; height: 24px; text-align: center;"><span style="color: #000000; font-size: 10pt;">岡山県</span></td>
<td style="width: 113px; height: 24px; text-align: center;"><span style="color: #000000; font-size: 10pt;">独自</span></td>
<td style="width: 205.45px; height: 24px; text-align: center;"><span style="color: #000000; font-size: 10pt;">¥86,400</span></td>
<td style="width: 124.54px; height: 24px; text-align: center;"><span style="color: #000000; font-size: 10pt;">1</span></td>
<td style="width: 125.28px; height: 24px; text-align: center;"><span style="color: #000000; font-size: 10pt;">¥86,400</span></td>
</tr>
<tr style="height: 24px;">
<td style="width: 313.73px; height: 24px; text-align: center;"><span style="color: #000000; font-size: 10pt;">MSA ミニサーベイヤー技能認定アカデミー西日本校</span></td>
<td style="width: 113px; height: 24px; text-align: center;"><span style="color: #000000; font-size: 10pt;">広島県</span></td>
<td style="width: 113px; height: 24px; text-align: center;"><span style="color: #000000; font-size: 10pt;">MSC-NEXT</span></td>
<td style="width: 205.45px; height: 24px; text-align: center;"><span style="color: #000000; font-size: 10pt;">¥540,000</span></td>
<td style="width: 124.54px; height: 24px; text-align: center;"><span style="color: #000000; font-size: 10pt;">4</span></td>
<td style="width: 125.28px; height: 24px; text-align: center;"><span style="color: #000000; font-size: 10pt;">¥135,000</span></td>
</tr>
<tr style="height: 24px;">
<td style="width: 313.73px; height: 24px; text-align: center;"><span style="color: #000000; font-size: 10pt;">ドローン活用技能スクール 徳島那賀町スクール</span></td>
<td style="width: 113px; height: 24px; text-align: center;"><span style="color: #000000; font-size: 10pt;">徳島県</span></td>
<td style="width: 113px; height: 24px; text-align: center;"><span style="color: #000000; font-size: 10pt;">JUIDA</span></td>
<td style="width: 205.45px; height: 24px; text-align: center;"><span style="color: #000000; font-size: 10pt;">¥162,000</span></td>
<td style="width: 124.54px; height: 24px; text-align: center;"><span style="color: #000000; font-size: 10pt;">3</span></td>
<td style="width: 125.28px; height: 24px; text-align: center;"><span style="color: #000000; font-size: 10pt;">¥54,000</span></td>
</tr>
<tr style="height: 24px;">
<td style="width: 313.73px; height: 24px; text-align: center;"><span style="color: #000000; font-size: 10pt;">ドローン活用技能スクール 徳島スクール</span></td>
<td style="width: 113px; height: 24px; text-align: center;"><span style="color: #000000; font-size: 10pt;">徳島県</span></td>
<td style="width: 113px; height: 24px; text-align: center;"><span style="color: #000000; font-size: 10pt;">JUIDA</span></td>
<td style="width: 205.45px; height: 24px; text-align: center;"><span style="color: #000000; font-size: 10pt;">¥162,000</span></td>
<td style="width: 124.54px; height: 24px; text-align: center;"><span style="color: #000000; font-size: 10pt;">3</span></td>
<td style="width: 125.28px; height: 24px; text-align: center;"><span style="color: #000000; font-size: 10pt;">¥54,000</span></td>
</tr>
<tr style="height: 24px;">
<td style="width: 313.73px; height: 24px; text-align: center;"><span style="color: #000000; font-size: 10pt;">Dアカデミー四国</span></td>
<td style="width: 113px; height: 24px; text-align: center;"><span style="color: #000000; font-size: 10pt;">徳島県</span></td>
<td style="width: 113px; height: 24px; text-align: center;"><span style="color: #000000; font-size: 10pt;">JUIDA</span></td>
<td style="width: 205.45px; height: 24px; text-align: center;"><span style="color: #000000; font-size: 10pt;">¥216,000</span></td>
<td style="width: 124.54px; height: 24px; text-align: center;"><span style="color: #000000; font-size: 10pt;">4</span></td>
<td style="width: 125.28px; height: 24px; text-align: center;"><span style="color: #000000; font-size: 10pt;">¥54,000</span></td>
</tr>
<tr style="height: 24px;">
<td style="width: 313.73px; height: 24px; text-align: center;"><span style="color: #000000; font-size: 10pt;">空撮技研</span></td>
<td style="width: 113px; height: 24px; text-align: center;"><span style="color: #000000; font-size: 10pt;">香川県</span></td>
<td style="width: 113px; height: 24px; text-align: center;"><span style="color: #000000; font-size: 10pt;">独自</span></td>
<td style="width: 205.45px; height: 24px; text-align: center;"><span style="color: #000000; font-size: 10pt;">¥86,400</span></td>
<td style="width: 124.54px; height: 24px; text-align: center;"><span style="color: #000000; font-size: 10pt;">1</span></td>
<td style="width: 125.28px; height: 24px; text-align: center;"><span style="color: #000000; font-size: 10pt;">¥86,400</span></td>
</tr>
<tr style="height: 24px;">
<td style="width: 313.73px; height: 24px; text-align: center;"><span style="color: #000000; font-size: 10pt;">DJI CAMP（株式会社アグサス）</span></td>
<td style="width: 113px; height: 24px; text-align: center;"><span style="color: #000000; font-size: 10pt;">愛媛県</span></td>
<td style="width: 113px; height: 24px; text-align: center;"><span style="color: #000000; font-size: 10pt;">DJI</span></td>
<td style="width: 205.45px; height: 24px; text-align: center;"><span style="color: #000000; font-size: 10pt;">¥86,400</span></td>
<td style="width: 124.54px; height: 24px; text-align: center;"><span style="color: #000000; font-size: 10pt;">2</span></td>
<td style="width: 125.28px; height: 24px; text-align: center;"><span style="color: #000000; font-size: 10pt;">¥43,200</span></td>
</tr>
<tr style="height: 24px;">
<td style="width: 313.73px; height: 24px; text-align: center;"><span style="color: #000000; font-size: 10pt;">DRONEBASE肥後大津</span></td>
<td style="width: 113px; height: 24px; text-align: center;"><span style="color: #000000; font-size: 10pt;">熊本県</span></td>
<td style="width: 113px; height: 24px; text-align: center;"><span style="color: #000000; font-size: 10pt;">JUIDA</span></td>
<td style="width: 205.45px; height: 24px; text-align: center;"><span style="color: #000000; font-size: 10pt;">¥248,400</span></td>
<td style="width: 124.54px; height: 24px; text-align: center;"><span style="color: #000000; font-size: 10pt;">3</span></td>
<td style="width: 125.28px; height: 24px; text-align: center;"><span style="color: #000000; font-size: 10pt;">¥82,800</span></td>
</tr>
<tr style="height: 24px;">
<td style="width: 313.73px; height: 24px; text-align: center;"><span style="color: #000000; font-size: 10pt;">エンルートアカデミー中津</span></td>
<td style="width: 113px; height: 24px; text-align: center;"><span style="color: #000000; font-size: 10pt;">大分県</span></td>
<td style="width: 113px; height: 24px; text-align: center;"><span style="color: #000000; font-size: 10pt;">独自</span></td>
<td style="width: 205.45px; height: 24px; text-align: center;"><span style="color: #000000; font-size: 10pt;">¥108,000</span></td>
<td style="width: 124.54px; height: 24px; text-align: center;"><span style="color: #000000; font-size: 10pt;">1</span></td>
<td style="width: 125.28px; height: 24px; text-align: center;"><span style="color: #000000; font-size: 10pt;">¥108,000</span></td>
</tr>
<tr style="height: 24px;">
<td style="width: 313.73px; height: 24px; text-align: center;"><span style="color: #000000; font-size: 10pt;">DJI CAMP（南榮工業株式会社）</span></td>
<td style="width: 113px; height: 24px; text-align: center;"><span style="color: #000000; font-size: 10pt;">宮崎県</span></td>
<td style="width: 113px; height: 24px; text-align: center;"><span style="color: #000000; font-size: 10pt;">DJI</span></td>
<td style="width: 205.45px; height: 24px; text-align: center;"><span style="color: #000000; font-size: 10pt;">¥108,000</span></td>
<td style="width: 124.54px; height: 24px; text-align: center;"><span style="color: #000000; font-size: 10pt;">2</span></td>
<td style="width: 125.28px; height: 24px; text-align: center;"><span style="color: #000000; font-size: 10pt;">¥54,000</span></td>
</tr>
<tr style="height: 24px;">
<td style="width: 313.73px; height: 24px; text-align: center;"><span style="color: #000000; font-size: 10pt; background-color: #ffffff;">nanten drone park</span></td>
<td style="width: 113px; height: 24px; text-align: center;"><span style="color: #000000; font-size: 10pt; background-color: #ffffff;">沖縄県</span></td>
<td style="width: 113px; height: 24px; text-align: center;"><span style="color: #000000; font-size: 10pt; background-color: #ffffff;">独自</span></td>
<td style="width: 205.45px; height: 24px; text-align: center;"><span style="color: #000000; font-size: 10pt; background-color: #ffffff;">¥43,200</span></td>
<td style="width: 124.54px; height: 24px; text-align: center;"><span style="color: #000000; font-size: 10pt; background-color: #ffffff;">5</span></td>
<td style="width: 125.28px; height: 24px; text-align: center;"><span style="color: #000000; font-size: 10pt; background-color: #ffffff;">¥8,640</span></td>
</tr>
</tbody>
</table>

<p class="colom-komoji">
※北海道から順番に並べてます。
</p>

<p class="gaido-contens-moji2">
54校を一覧にすると、結構な表になりましたね。
</p>
<p class="gaido-contens-moji2">
学費以外にも、所在地や認可組織、授業日数も学校により異なっているようです。
</p>
<p class="gaido-contens-moji2">
ではでは、肝心の学費の状況はというと、
</p>
<p class="gaido-contens-moji2">
「40,000円代の学校もあれば、500,000円以上する学校」もあるようです。。。。
</p>
<p class="gaido-contens-moji5">
その差、12倍以上！！
</p>
<p class="gaido-contens-moji2">
12倍ですよ、12倍。笑　
</p>
<p class="gaido-contens-moji2">
果たして、その違いはどこからくるのでしょうか！？
</p>
<p class="gaido-contens-moji2">
検証していきましょう！！
</p>




<h1 class="gaido-contens-moji1">
２．ドローン学校の学費の相場は！？
</h1>

<p class="gaido-contens-moji2">
まずは、学費の相場について確認してみましょう。
</p>





<%= image_tag 'columns/colom-image14-2.png', class: "img-gaido" %>


<p class="gaido-contens-moji2">
学費については、凡そ500,000円以内に収まっているようですので、取り合えず500,000円用意しておけば好きな学校に入学できますね！
</p>

<p class="gaido-contens-moji2">
また、学費を100,000円～400,000円に設定している学校が一番多く、特に200,000円～300,000円に集中しているようです。
</p>

<p class="gaido-contens-moji5">
参考：学費の平均値は約260,000円です。中央値は248,400円になります。
</p>


<h1 class="gaido-contens-moji1">
３．学費が一番安い学校はどのスクール！？
</h1>

<p class="gaido-contens-moji2">
学費が一番安い学校ってどこでしょうか！？気になりますよね。
</p>
<p class="gaido-contens-moji2">
ランキングにしてみましたので見てみましょう。
</p>

<%= image_tag 'columns/colom-image14-3.png', class: "img-gaido" %>


<p class="gaido-contens-moji2">
第1位は【naten drone park】でしたね。
</p>

<p class="gaido-contens-moji2">
第2位には【DJI CAMP】、 【DJI CAMP(セキド)】　。第3位には　【DJI CAMP（㈱アグサス）】、【DJI CAMP（KACHISUTA)】、【空撮技研】、【ドローンデパートメント㈱】　がランクイン。DJI CAMPの学校が多数ランクインしていますね。ドローン学校の学費の平均が約260,000円であることを考えると、第１位～第3位までの学校は総じて学費については、【安い！】と言えると思います。
</p>
<p class="gaido-contens-moji2">
しかし、、、
</p>
<p class="gaido-contens-moji2">
ドローンスクールは一覧表でも分るように学校ごとの受講日数がバラバラです。ということは、「1日50,000円の学校もあれば、5,000円の学校」もあるということです。
</p>
<p class="gaido-contens-moji2">
という訳で、「1日あたりの学費が一番安い学校」を比較してみようと思います。
</p>

<%= image_tag 'columns/colom-image14-4.png', class: "img-gaido" %>

<p class="gaido-contens-moji2">
第1位は【nanten drone park】でした。1日あたりの学費でも安いということは、学費ではNO1の安さということになりますね。
</p>
<p class="gaido-contens-moji2">
第2位と第3位については、先ほどのランキングとは違う学校がランクインしています。先ほどのランキングでは、DJICAMPの学校が複数ランクインしていましたが、学費1日あたりのランキングには登場していませんね。
</p>
 

<p class="gaido-contens-moji2">
代わりにランクインしたのが↓↓↓
</p>
 
<p class="gaido-contens-moji2">
第2位【バンタンデザイン研究所キャリアカレッジ】
</p>
<p class="gaido-contens-moji2">
学費は400,000円と高額ですが、受講日数が16日間もあるため、1日あたり25,000円で受講できるということですね。
</p>
<p class="gaido-contens-moji2">
第3位【エア・フィールドアイ】
</p>
<p class="gaido-contens-moji2">
学費は85,000円ですが、受講日数が3日間あるので、1日あたりの学費は28,333円となります。
</p>


<h1 class="gaido-contens-moji1">
まとめ
</h1>

<p class="gaido-contens-moji2">
ドローンスクールを探す場合、学費を参考に探す方もたくさんいらっしゃると思いますが、学費だけではなく、1日あたりの学費でも比較してみるとよいかもしれませんね。学費が高額に見えても授業日数から割り戻すと、1日辺り安いじゃん！！ってなる可能性も十分にありますので。
</p>
<p class="gaido-contens-moji2">
皆さんのドローンスクール探しのお役に立てれば幸いです。
</p>
<p class="gaido-contens-moji2">
まだまだ、一覧表からは読み取れることがたくさんありますので、次回以降のコラムに記載していきたいと思います。
</p>



<p>
<%= link_to "コラムホームに戻る＞＞", "/columns/", class: "gaido-contens-moji4" %>
</p>

   </div>

</div>

<footer class=lineman>
</footer>
</body>
</html>