<html>
  <head>
    <meta charset="UTF-8" />
    <link rel="stylesheet" href="style.css">
    <title>ベストドローンスクール</title>
  </head>
<body>
  <div class ="contens-hokkaido">
       <span class ="moji-hokkaido">
       <h1>ドローンは本当に世の中に浸透していくの？4つの視点から分析</h1>
       </span>
  </div>

<div class="gaido-main">

  <div class="gaido-contens">

<!-- ここから本文 -->

<%= image_tag 'columns/colom-image12-1.jpg', class: "img-gaido" %>

<p class="gaido-contens-moji2">
ドローンの市場が今後順調に拡大していくだろう、という記事は以前に紹介しました。
</p>

<p class="gaido-contens-moji5">
世界のドローン市場規模はぐんぐん伸びてる
</p>
<p class="gaido-contens-moji5">
日本のドローン市場はどれくらい成長する？
</p>

<p class="gaido-contens-moji2">
こちらは数字でドローン業界について見ていこう、という内容の記事でした。「数字で伸びていくのはなんとなくわかった。でも、そうは言っても、実感が湧かない」という方もいらっしゃるかもしれません。
</p>

<p class="gaido-contens-moji2">
今後、ドローンが本当に世の中に浸透していくのかどうか、ドローンを取り巻く環境である政治、経済、社会、技術の4つの視点から考えてみたいと思います。
</p>


<h1 class="gaido-contens-moji1">
政治
</h1>

<%= image_tag 'columns/colom-image12-2.jpg', class: "img-gaido" %>


<h2 class="gaido-contens-moji3">
プラス要因
</h2>
<p class="gaido-contens-moji5">
・法整備が進んでいる
</p>
<p class="gaido-contens-moji2">
2015年4月、首相官邸の屋上にドローンが落下しているのが発見された事件などをきっかけに、2015年12月10日よりドローンの運用ルールを定めた改正航空法が施行されました。詳しくは、「ドローンで守るべき3つのルールとは？」をご覧ください。
</p>

<p class="gaido-contens-moji5">
・政府がドローンへの投資に積極的
</p>
<p class="gaido-contens-moji2">
2016年9月12日、政府は未来投資会議の初会合を首相官邸で開きました。ドローンを用いた建設現場の測量などを普及させ、2025年までに生産性を20%向上させることを目標としました。また、橋やトンネル、ダムといった公共事業でもドローンの活用を検討しています。
</p>
 

 
<h2 class="gaido-contens-moji3">
マイナス要因
</h2>
<p class="gaido-contens-moji5">
・ドローンの飛行制限
</p>
<p class="gaido-contens-moji2">
2015年12月10日より施行された改正航空法により、気軽にドローンを飛ばすことが難しくなりました。実質的に趣味的なドローンの広がりは狭まったと思います。
</p>



<h1 class="gaido-contens-moji1">
経済
</h1>


<%= image_tag 'columns/colom-image12-3.jpg', class: "img-gaido" %>

<h2 class="gaido-contens-moji3">
プラス要因
</h2>
<p class="gaido-contens-moji5">
・コスト削減の解決策としての活用
</p>
<p class="gaido-contens-moji2">
ドローンはわずか10万円台〜の投資で、高性能な画像や動画を得られる。たとえば、測量分野では従来の方法に比べてコストが数分の1になるといった事例があり
</p>

<p class="gaido-contens-moji5">
・ドローン業界全体の盛り上がり
</p>
<p class="gaido-contens-moji2">
DJIなどドローンの機体メーカーはもとより、アクセサリメーカーや、測量・空撮などのドローンを活用する業者、人材紹介やドローン学校などの業界をサポートする業者が増加しており、ドローン業界が全体的に活性化している
</p>


<h2 class="gaido-contens-moji3">
マイナス要因
</h2>
・特になし

<h1 class="gaido-contens-moji1">
社会
</h1>


<%= image_tag 'columns/colom-image12-4.jpg', class: "img-gaido" %>

<h2 class="gaido-contens-moji3">
プラス要因
</h2>
<p class="gaido-contens-moji5">
・少子高齢化により生産性向上が求められる
</p>
<p class="gaido-contens-moji2">
今後、労働人口が益々減少していく中で、少ない人手で多くの仕事の成果を上げることが求められる。人口知能やロボットなどと並んでドローンもその解決策の一つとなりうる
</p>
<p class="gaido-contens-moji5">
・ドローン認知度の向上
</p>
<p class="gaido-contens-moji2">
ドローンそのものの認知度が年々上がってきている。ドローンの認知度が上がってくれば、ドローンのより有効な活用方法を考えて実行する人も増えたり、ドローンを運用する環境も整ってくると期待できる
</p>



<h2 class="gaido-contens-moji3">
マイナス要因
</h2>
<p class="gaido-contens-moji5">
・様々なドローン事件や事故
</p>
<p class="gaido-contens-moji2">
首相官邸へのドローン墜落事件や、祭りなどのイベントでの落下事故によるドローンのマイナスイメージ
</p>

<h1 class="gaido-contens-moji1">
技術
</h1>

<%= image_tag 'columns/colom-image12-5.jpg', class: "img-gaido" %>

<h2 class="gaido-contens-moji3">
プラス要因
</h2>
<p class="gaido-contens-moji5">
・機体の止まらない進化
</p>
<p class="gaido-contens-moji2">
世界の多くのメーカーから次々に新製品が発売、機体の多用途化、低価格化、高機能化、飛行安定性向上
</p>
<p class="gaido-contens-moji5">
・相性のいい他のジャンルとの相乗効果
</p>
<p class="gaido-contens-moji2">
ドローンと、インターネットやVR、ソフトウェアとの連携によるドローンの活用市場が拡大すると思われる
</p>

<h2 class="gaido-contens-moji3">
マイナス要因
</h2>
<p class="gaido-contens-moji5">
・オペレーターの不要化
</p>
<p class="gaido-contens-moji2">
ドローンの自動化により将来的にはドローンオペレーターが徐々に不要になってくる
</p>


<h1 class="gaido-contens-moji1">
まとめ
</h1>

<p class="gaido-contens-moji2">
政治、経済、社会、技術の4つの視点から「ドローンが世の中から求められていくのか」、「ドローンが世の中に浸透していくのか」を分析しました。
</p>
<p class="gaido-contens-moji2">
総合的に言えば、プラス要因が大きいと思いますので、ドローンはやはり今後も世の中に必要な存在として浸透していくと考えられますね。
</p>


<p>
<%= link_to "コラムホームに戻る＞＞", "/columns/", class: "gaido-contens-moji4" %>
</p>

   </div>

</div>

<footer class=lineman>
</footer>
</body>
</html>