<html>
  <head>
    <meta charset="UTF-8" />
    <link rel="stylesheet" href="style.css">
    <title>ベストドローンスクール</title>
  </head>
<body>
  <div class ="contens-hokkaido">
       <span class ="moji-hokkaido">
       <h1>ドローンってそもそもなに？</h1>
       </span>
  </div>

<div class="gaido-main">

  <div class="gaido-contens">

<!-- ここから本文 -->

<%= image_tag 'columns/colom-image1-1.jpg', class: "img-gaido" %>


<p class="gaido-contens-moji2">
「どろーん、どろーん」と騒がれ始めて数年が経ちますが、そもそもドローンて何でしょうか？今回は「ドローンとは何？」ということについて考えてみます。
</p>

<h1 class="gaido-contens-moji1">
ドローンには様々な定義がある
</h1>

<%= image_tag 'columns/colom-image1-2.jpg', class: "img-gaido" %>

<p class="gaido-contens-moji2">
「ドローン」と始めて聞いた時は、何だか未来感のある響きでいかにもSFとかに出てきそうな何かすごいものって感じしませんか？僕だけですかね。。。
</p>
<p class="gaido-contens-moji2">
このドローンという言葉は、もともと英語で蜂の羽音という意味だそうです。ドローンの飛ぶところを実際に見れば納得なのですが、本当にデカイ蜂が飛んでいるような「ブォおおおお〜ん！！」みたいなプロペラ音を出して飛ぶんですよ！なので、ドローンにドローンて名前をつけた人は偉いですね、イメージしやすいですから。
</p>
<p class="gaido-contens-moji2">
ドローンとはざっくり言うと、
</p>


<h2 class="gaido-contens-moji3">
無人で遠隔操作や自動操縦によって飛行させることができるもの
</h2>

<p class="gaido-contens-moji2">
です。
</p>

<p class="gaido-contens-moji2">
ドローンと一口に言っても、様々な形態があります。昨今、テレビなどのメディアで話題になっているいわゆるドローンはここ数年で出てきた小型で高性能かつ低価格（と言っても10万円台など）のもので、中国のDJI社のメーカーのドローンはとても有名でよくメディアで取り上げられています。
</p>

<p class="gaido-contens-moji2">
よくテレビのロケで「この映像、ドローンで撮ったのか〜！綺麗ですごいな〜！」という動画が撮影されていたりしますが、これもDJI社のPhantom（ファントム）と呼ばれる機種が用いられたりすることが多いです。最近では、動画や静止画制作用の空撮だけではなく、赤外線カメラを用いてソーラー発電所のパネルの点検に用いたり、救助のサポートを行うドローンなどが各メーカーから発売されています。
</p>

<p class="gaido-contens-moji2">
また、いわゆる最近話題になるドローンの形状以外にも、農薬散布をするような無人操縦のヘリ型のラジコンもドローンに含むこともあります。他にも、軍事用の無人航空機をドローンとして表現することもあります。
</p>

<p class="gaido-contens-moji2">
ということで、軍事用から民生用、おもちゃから空撮できる本格派まで様々なものが含まれるわけです。
</p>



<h1 class="gaido-contens-moji1">
法律上のドローンの定義が重要
</h1>


<%= image_tag 'columns/colom-image1-3.png', class: "img-gaido" %>

<p class="gaido-contens-moji2">
ドローンにはいろいろと定義があると言いましたが、その中でも重要な定義があります。それは航空法上のドローンの定義です。
</p>

<p class="gaido-contens-moji2">
その定義とは、
「飛行機、回転翼航空機、滑空機、飛行船であって構造上人が乗ることができないもののうち、遠隔操作又は自動操縦により飛行させることができるもの（200ｇ未満の重量（機体本体の重量とバッテリーの重量の合計）のものを除く）」（航空法）です。
</p>

<p class="gaido-contens-moji2">
具体的にはこのようなものに適用されます。
</p>

<%= image_tag 'columns/colom-image1-4.png', class: "img-gaido" %>

<p class="colom-komoji">
引用元：国土交通省
</p>

<p class="gaido-contens-moji2">
平成27年9月に航空法の一部が改正され、新たなルールとなりました。
</p>

<p class="gaido-contens-moji2">
なぜ、法律上のドローンの定義が重要なのでしょうか？
</p>
 
<p class="gaido-contens-moji2">
それは、
</p>

<h2 class="gaido-contens-moji3">
ドローンを飛ばすときに守らないといけないルールが様々ある。
</h2>

<p class="gaido-contens-moji2">
からです。
</p>

<p class="gaido-contens-moji2">
例えば、国土交通省の許可なしに人口密集地では飛ばせない、夜間飛行はできない、飛行の高度制限などです。
</p>

<p class="gaido-contens-moji2">
なぜ、このような様々なルールが整備されたのでしょうか？それは、ドローンというのは小型とはいえ、重さが数キロあるものですので、それが数十メートル以上の高さから何らかのトラブルで落下した場合、人やモノに対して被害を与える可能性が十分に考えられるからです。
</p>

<p class="gaido-contens-moji2">
実際に、2015年に首相官邸の屋上にドローンが故意に落下させた事件で、ドローンの存在を知った人も多いはずです。まあ、あれで、ドローンに悪い印象を持った人も多いことでしょうが。。。笑
</p>

<p class="gaido-contens-moji2">
200g未満の重量のおもちゃのドローン（いわゆるトイドローン）を飛ばす趣味の範囲内であれば、あまり航空法に敏感になる必要はないと思いますが、これから仕事としてドローン活用の道を考えている方はドローンを飛ばすにもそれなりのルールの下、責任を持ってやらないといけないという側面も考えていく必要があります。いろいろと縛りが出てくるのは窮屈な面もありますが、うまく付き合っていくしかなさそうですね。
</p>



<p>
<%= link_to "ドローンコラムに戻る＞＞", "/columns/", class: "gaido-contens-moji4" %>
</p>

   </div>

</div>

<footer class=lineman>
</footer>
</body>
</html>