<html>
  <head>
    <meta charset="UTF-8" />
    <link rel="stylesheet" href="style.css">
    <title>ベストドローンスクール</title>
  </head>
<body>
  <div class ="contens-hokkaido">
       <span class ="moji-hokkaido">
       <h1>ドローンスクールに入学する人ってどんな人？</h1>
       </span>
  </div>

<div class="gaido-main">

  <div class="gaido-contens">

<!-- ここから本文 -->

<%= image_tag 'columns/colom-image13-1.jpg', class: "img-gaido" %>

<p class="gaido-contens-moji2">
ドローンスクールに入学する人ってどんな人達が多いのでしょうか。
</p>
<p class="gaido-contens-moji2">
複数の学校説明会などに参加した経験と学校の関係者にお話を聞いてきたのでお話します。
</p>



<h1 class="gaido-contens-moji1">
生徒の特徴：男性が多い
</h1>

<%= image_tag 'columns/colom-image13-2.jpg', class: "img-gaido" %>

<p class="gaido-contens-moji2">
大体想像がつくかと思いますが、男性が圧倒的に多いです。ドローンという一種の「機械」を使用するので、男の人は心が躍りますよね！！男の人は昔から、ラジコンとかガンダムとか好きですし、ドローンみたいな空飛ぶマシーンを操れるとなるとワクワクする人が多いんだと思います。
</p>

<p class="gaido-contens-moji2">
男女比で言えば、、、
</p>

<p class="gaido-contens-moji5">
男性9：女性1
</p>

<p class="gaido-contens-moji2">
くらいの割合でしょうか。
</p>

<p class="gaido-contens-moji2">
女性の方も0という訳ではなく、説明会にも女性の方はいらっしゃいましたし、実際に入学して資格取得された方もいるみたいです。
</p>


<h1 class="gaido-contens-moji1">
生徒の特徴：年齢層が高い
</h1>


<%= image_tag 'columns/colom-image13-3.jpg', class: "img-gaido" %>


<p class="gaido-contens-moji2">
年齢層ですが、
</p>

<p class="gaido-contens-moji5">
30代後半　～　50代
</p>
<p class="gaido-contens-moji2">
の層が一番多いと思います。
</p>
<p class="gaido-contens-moji2">
若い人も”0″ではないですが、説明会なんかに来られている方は年輩の方が多く来ていました。今後は若い人も増えていくと思いますが、まだ若い人の心にはドローンはあまり刺さっていない感じですね。
</p>


<h1 class="gaido-contens-moji1">
生徒の特徴：ドローンでビジネスを始めようと考えている人が多い
</h1>


<%= image_tag 'columns/colom-image13-4.jpg', class: "img-gaido" %>


<p class="gaido-contens-moji2">
学校の先生にも確認したんですが、ドローンでビジネスを始めよう（立上げよう）としている人が多い　みたいです。
</p>
<p class="gaido-contens-moji2">
では、どんなビジネスを立ち上げる方が一番多いのでしょうか！？
</p>
<p class="gaido-contens-moji2">
私のイメージでは、空撮を始める方が多いのかなと思っていましたが、
</p>
<p class="gaido-contens-moji2">
同じ位、、、
</p>
<p class="gaido-contens-moji2">
いや、、、、、
</p>
<p class="gaido-contens-moji2">
学校を卒業して一番多く立ち上げているビジネスはこれなんではないかと最近、私は思っています。
</p>
<p class="gaido-contens-moji2">
ちょっと考えてみてください。。。。
</p>


<p class="gaido-contens-moji2">
それは、、、、
</p>

<h2 class="gaido-contens-moji333">
「ドローンスクールを始める人！！」
</h2>


<p class="gaido-contens-moji2">
2015年から学校が急速に拡大しています。学校を始めるには、当然知識も経験も必要になってきますが、ドローンスクールに開講基準は特にない為、ドローンスクールでドローンの知識を学んで、学校を開講するという人達が多いように思います。ベストドローンスクールに掲載している学校でも約60校ありますので、今後はもっと数が拡大していくと思います。
</p>

<p class="gaido-contens-moji2">
また、ドローン業界が黎明期ということもあり、今後は新しいビジネスがドンドン立上っていくことを願っています。ビジネスを始めることは雇用を創生することになりますし、何といってもドローン業界が盛上げることに繋がると思います。
</p>





<h1 class="gaido-contens-moji1">
生徒の特徴：ドローンに触ったことがない人が多い
</h1>

<%= image_tag 'columns/colom-image13-5.png', class: "img-gaido" %>


<p class="gaido-contens-moji2">
これが一番意外でした。私のイメージでは、学校に入学する人達はドローンで何かを始めようと思ってくる人達が多いと思っていたので、ドローンについては当然触ったことがある。というか、「ドローン持ってます！！」くらいの人達が多いのでは！？と思っていたのですが、実際はドローン自体全く触ったことがない。という人達が多いみたいです。説明会などでも、触ったことないけど大丈夫！？というような質問をされている人達も多かったです。
</p>

<p class="gaido-contens-moji2">
しかしながら、基礎の基礎から教えてくれるのが学校の良いところだと思いますので、ドローンに触ったことない人でも安心して学校に通って大丈夫だと思います。空撮を行えるドローンだと、10万円以上するので簡単に買えるものではないですしね。
</p>


<p class="gaido-contens-moji2">
では、1～4までに分けて説明しましたが、総括するとドローンスクールに通っている人（入学しようと思っている人）で一番多いタイプの人は
</p>

<h2 class="gaido-contens-moji3">
「30代後半～50代の男性で、ドローンに触ったことがないけど、何かビジネスを始めたいって思っている人。」
</h2>

<p class="gaido-contens-moji2">
なのでないでしょうか。
</p>

<p class="gaido-contens-moji2">
この総括に意味があるのかは分らないですが。笑
</p>

<p class="gaido-contens-moji2">
まとめてみましたので、参考にしていただけたらと思います。
</p>

<p class="gaido-contens-moji2">
ドローン業界は、黎明期です。これから大きくマーケットも拡大していくと思いますので、今後の発展に期待したいと思います！！
</p>

<p>
<%= link_to "コラムホームに戻る＞＞", "/columns/", class: "gaido-contens-moji4" %>
</p>

   </div>

</div>

<footer class=lineman>
</footer>
</body>
</html>