<html>
  <head>
    <meta charset="UTF-8" />
    <link rel="stylesheet" href="style.css">
    <title>ベストドローンスクール</title>
  </head>
<body>
  <div class ="contens-hokkaido">
       <span class ="moji-hokkaido">
       <h1>ドローンって危ないの？過去の事件・事故（国内編）</h1>
       </span>
  </div>

<div class="gaido-main">

  <div class="gaido-contens">

<!-- ここから本文 -->

<%= image_tag 'columns/colom-image8-1.jpg', class: "img-gaido" %>

<p class="gaido-contens-moji2">
今ではドローンがインフラの点検や測量、配送などの分野で有効活用が期待されるという認識が一般的に広まってきたと感じていますが、ドローンが一般的に認知され始めたのは、ドローンの事件や事故のニュースがきっかけだったと思います。
</p>

<p class="gaido-contens-moji2">
そんなわけで、ドローンの負の側面である過去の事件や事故を振り返ってみましょう。
</p>



<h1 class="gaido-contens-moji1">
みんなが「ドローン」を知ったきっかけ
</h1>

<%= image_tag 'columns/colom-image8-2.jpg', class: "img-gaido" %>

<p class="gaido-contens-moji2">
ドローンを初めて知ったのはいつでしたか？
僕がドローンを知ったのが2013年頃です。実際に自分で買ってみたのは2014年7月でした。ドローンメーカー大手のDJI社のPHANTOM 2 Vision+という機体を買いました。まだその頃は周りの人は誰もドローンなんて知りませんでした。「ドローンって知ってる？」と聞くと、「ど、どろーん？」と怪訝な表情を浮かべるのです。笑
</p>

<p class="gaido-contens-moji2">
「プロペラがついてて、すごく安定性が良くて、操作も簡単で、空撮もできるし、楽しい」と話すと、「。。。へー」みたいな反応です。
</p>

<p class="gaido-contens-moji2">
それから1年後の2015年に多くの人がドローンを知ることになります。
それが、
</p>

<h2 class="gaido-contens-moji3">
2015年4月22日 首相官邸屋上ドローン落下事件
</h2>

<p class="gaido-contens-moji2">
です。
</p>

<p class="gaido-contens-moji2">
その後、立て続けに5月9日に善光寺の法要中にドローン落下事故が起こります。
</p>

<p class="gaido-contens-moji2">
世間のイメージは完全に「ドローン＝危ないおもちゃ」となりドローンへの第一印象は最悪でした。
</p>

<p class="gaido-contens-moji5">
・首相官邸ドローン落下事件
</p>
<p class="gaido-contens-moji2">
2015年4月22日、東京都千代田区にある首相官邸の屋上にDJI社製のドローンが落下。当時40歳の元自衛官の男性が「ドローンを飛ばした」として出頭した。ドローンを飛ばしたのは、4月9日、ドローンに装着した容器には「福島の砂100g」を入れたと供述。動機は反原発とのこと。
</p>

<p class="gaido-contens-moji5">
・善光寺ドローン落下事故
</p>
<p class="gaido-contens-moji2">
2015年5月9日、長野県の善光寺の境内で、横浜の15歳の男性が飛ばしたドローンが落下した。「飛ばす練習をしたいて」落下したとコメント。見物客らにはけがはなかった。
</p>

<p class="gaido-contens-moji2">
下のグラフを見てください。
</p>



<%= image_tag 'columns/colom-image8-3.png', class: "img-gaido" %>


<p class="gaido-contens-moji2">
これはgoogleで「ドローン」というワードがどれくらい検索されたかを示すものです。過去最高に検索された時点を100としています。
</p>

<p class="gaido-contens-moji2">
これを見ると、首相官邸と善光寺のドローン落下の時期にものすごいボリュームで「ドローン」と検索されていることがわかります。多くの人はこの時点でドローンの存在を知ったことを物語っていますね。ドローンの悲しい出発でした。
</p>


<h1 class="gaido-contens-moji1">
最新のドローン事件や事故
</h1>

<%= image_tag 'columns/colom-image8-4.jpg', class: "img-gaido" %>

<p class="gaido-contens-moji5">
ドローンによる航空法違反事件は36件
</p>

<p class="gaido-contens-moji2">
現在までに具体的にどれくらいの事件や事故が起こったのでしょうか？
数々のドローンの事件や事故をきっかけとして、ドローンの危険性が周知されました。2015年12月にはドローンの飛行を規制する改正航空法が施行されました。
</p>

<p class="gaido-contens-moji2">
警察庁のまとめによると、改正航空法が施行されてから2016年末までに、ドローンによる航空法違反事件で36件、37人を摘発したとのことです。内訳は「飛行の禁止空域」違反が31件、「飛行の方法」違反が12件で、うち7件が重複。
</p>

<p class="gaido-contens-moji2">
初めての適用となったのは、2016年1月に高松市上空で公園周辺上空を無許可でドローン飛行させた男性とのことです。
</p>

<p class="gaido-contens-moji5">
初の人的被害
</p>

<p class="gaido-contens-moji2">
ドローンの落下で人的被害が出るのは時間の問題だったわけですが、ついに2017年2月18日、神奈川県藤沢市で建設作業現場でドローンが落下し男性作業員が顔を数針縫うけがをする事故が起きました。ドローンの飛行に関しては国交相の許可を取っていたということです。操縦中に何らかの理由で電波が途切れ、自動でドローンが設定した場所に戻る途中にクレーンに当たり落下したとのことです。
</p>



<h1 class="gaido-contens-moji1">
まとめ
</h1>

<p class="gaido-contens-moji2">
ドローンの事件や事故が数多く起きています。
</p>

<p class="gaido-contens-moji2">
これからどうドローンを安全に運用していくかが焦点になりますね。
</p>


<p>
<%= link_to "コラムホームに戻る＞＞", "/columns/", class: "gaido-contens-moji4" %>
</p>

   </div>

</div>

<footer class=lineman>
</footer>
</body>
</html>