<html>
  <head>
    <meta charset="UTF-8" />
    <link rel="stylesheet" href="style.css">
    <title>ベストドローンスクール</title>
  </head>
<body>
  <div class ="contens-hokkaido">
       <span class ="moji-hokkaido">
       <h1>知っておくべきドローンのメーカーってどこ？まずはDJI！</h1>
       </span>
  </div>

<div class="gaido-main">

  <div class="gaido-contens">

<!-- ここから本文 -->

<%= image_tag 'columns/colom-image4-1.jpg', class: "img-gaido" %>


<p class="gaido-contens-moji2">
クルマなら、トヨタ、フォルクス・ワーゲンなど世界的企業がすぐに思い浮かびますよね？
</p>

<p class="gaido-contens-moji2">
ドローンはどうでしょうか？ドローン界にも圧倒的な存在がいます。
</p>

<p class="gaido-contens-moji2">
今回は、ドローン界の巨人、DJIについて解説します！
</p>



<h1 class="gaido-contens-moji1">
ぶっちぎりのDJIのドローン市場シェア
</h1>

<%= image_tag 'columns/colom-image4-2.png', class: "img-gaido" %>

<p class="colom-komoji">
引用元：DJIのホームページ
</p>

<p class="gaido-contens-moji2">
ドローンを作っているメーカーは日本含め、世界中にたくさんあります。
</p>
<p class="gaido-contens-moji2">
しかし、その中でもドローン界はある一つの企業が支配的なポジションを確立しています。それが中国のドローンメーカーであるDJIです。びっくり仰天なのは、DJIの世界シェアです。
</p>
<p class="gaido-contens-moji2">
民間用の商用ドローンでそのシェアは、なんと、70%とも言われています。
</p>

<p class="gaido-contens-moji2">
70%てのがどれくらいすごいのか？
</p>

<p class="gaido-contens-moji2">
冒頭でクルマ業界を例に出しましたが、あのトヨタでさえ、世界市場でのシェアは10%程度です。世界に出回るドローンのうち、3台に2台以上がDJIの製品というのがいかにすごいかということです。
</p>

<h1 class="gaido-contens-moji1">
新時代のチャイナドリームを実現したDJI
</h1>

<%= image_tag 'columns/colom-image4-3.jpg', class: "img-gaido" %>

<p class="gaido-contens-moji2">
そんなドローン界の巨人DJIは一体何者なんでしょうか？古くからある企業ではありません。
</p>

<p class="gaido-contens-moji2">
どこか洗練されたデザインのDJIの機体は、これまでの中国メーカーのイメージとも相容れないものがあります。そんな従来の中国企業っぽくないせいか、DJIを中国企業ではなく、シリコンバレーあたりのスタートアップのアメリカ企業だと勘違いしている人もいると聞きます 笑
</p>

<p class="gaido-contens-moji2">
勘違いする人がいるのも、実はうなずけます。なぜなら、DJIはアップルをお手本にしているからです。確かにDJIのデザインはアップルぽい印象はあります。実際に2015年にはアップルと提携し、Phantom3（ファントム3）をアップルストアで販売したそうです。
</p>

<p class="gaido-contens-moji2">
そんなDJIの創業者は、汪滔（フランク・ワン）氏です。
</p>

<p class="gaido-contens-moji2">
彼は小さい頃から空を飛ぶ機械に興味を持っていました。漫画に出てきた飛行物体にカメラをつけて動画を撮影できたら面白いだろうなあ〜と妄想していたそうです。その頃から既にドローン界に革命を起こす片鱗をうかがわせますね。
</p>

<p class="gaido-contens-moji2">
大学時代には、ヘリコプター飛行制御の研究を行い、そこでドローンの可能性に気がつきます。創業から7年後の2013年にはPhantom2 Visionをリリースします。この頃から世界的に手軽で安価で高性能なドローンの認知が一気に広がりました。
</p>

<p class="gaido-contens-moji2">
DJIの中核拠点は、中国のシリコンバレーと言われる深センにあり、アメリカ、ドイツ、日本、北京、上海、香港まで世界中に拠点を拡大しています。今やそのグローバル社員数は6,000人を超えます。
</p>

<p class="gaido-contens-moji2">
創業から約10年でここまで上り詰めたのです。
</p>

<h1 class="gaido-contens-moji1">
どんなドローンを出してるの？全てはPhantom（ファントム）から
</h1>

<%= image_tag 'columns/colom-image4-4.png', class: "img-gaido" %>

<p class="colom-komoji">
引用元：Phantom4 Pro （DJIホームページより）
</p>

<p class="gaido-contens-moji2">
そんな勢いに乗るDJIの代表的製品は何でしょうか？
何といっても、Phantom（ファントム）シリーズは外せないでしょう。2017年3月4日時点で最新のPhantomシリーズの機種は、Phantom4 Proです。約20万円ですね。
</p>

<p class="gaido-contens-moji2">
そのスペックは、
</p>

<p class="gaido-contens-moji5">
・飛行時間：30分間
</p>
<p class="gaido-contens-moji5">
・伝送距離：4キロメートル
</p>
<p class="gaido-contens-moji5">
・速度：時速72キロ
</p>
<p class="gaido-contens-moji5">
・動画解像度：4k 60fps
</p>
<p class="gaido-contens-moji5">
・センサー検知範囲：30m
</p>
<p class="gaido-contens-moji5">
・障害物検知：5方向
</p>

<p class="gaido-contens-moji2">
です。
</p>

<p class="gaido-contens-moji2">
ドローンは日進月歩で賢くなっています。
</p>

<p class="gaido-contens-moji2">
シリーズの最初の機種から比べると、その安定性やカメラの性能、障害物を検知して衝突を回避する機能など進化し続けています。
</p>

<h1 class="gaido-contens-moji1">
これからもドローンの定義を塗り替え続ける
</h1>


<%= image_tag 'columns/colom-image4-5.png', class: "img-gaido" %>

<p class="gaido-contens-moji2">
DJIは自分自身のことをこう言っています。
</p>

<p class="gaido-contens-moji2">
「想像力はすべての夢の源です。世界を変えるようなすべての革新的なアイデアは、優秀なクリエイター達の想像力から生まれます。 DJIはそういったアイデアの実現に必要なツールをクリエイターたちに提供しています。
我々の製品を使えば、これまで不可能と言われてきた映像を撮影することが可能です。DJIフライングカメラスタビライザーシステムはカメラの常識を塗り替えました。素晴らしい写真や動画、大切な個人の思い出、プロフェッショナルな映像が、毎日、世界中のあらゆる場所で撮影されています。
DJIテクノロジーの思想は「創造活動をよりシンプルに」です。不可能と言われるような限界の先を実現可能にして世界中に影響を与えていきます。」（出典：DJI）
</p>

<p class="gaido-contens-moji2">
この会社からドローン業界に常にインパクトを与え続けてくれるかもしれない。そう思わせてくれる言葉ですね。
</p>

<p>
<%= link_to "コラムホームに戻る＞＞", "/columns/", class: "gaido-contens-moji4" %>
</p>

   </div>

</div>

<footer class=lineman>
</footer>
</body>
</html>