
   <div class ="contens-gaidorain">
       <span class ="moji-gaidorain">
       <h1 class="gaidorain-h1">ドローンはどんな歴史をたどってきたの？</h1>
       </span>
  </div>

<div class="gaido-main">

  <div class="gaido-contens">

<!-- ここから本文 -->

<%= image_tag 'columns/colom-image2-1.jpg', class: "img-gaido" %>


<p class="gaido-contens-moji2">
数年前から「ドローン」て急に耳にするようになりましたよね？
</p>

<p class="gaido-contens-moji2">
じゃあ、これって新しいテクノロジーなのか？、というとそうでもないんですね。実は、ドローンが産声を挙げたのは大昔です。どうやってドローンは誕生したのか、どういう風に歴史を歩んできたのか解説していきます。
</p>

<h1 class="gaido-contens-moji1">
ドローンは戦争の中から生まれた
</h1>

<%= image_tag 'columns/colom-image2-2.png', class: "img-gaido" %>

<p class="colom-komoji">
引用元：wikipedia（最初のドローン「BQ-7」）
</p>

<p class="gaido-contens-moji2">
「戦争は発明の母」という言葉がありますが、ドローンも例外ではなく、ドローンは戦争の中から誕生します。時代は今から70年以上前、第二次世界対戦の最中です。
</p>
<p class="gaido-contens-moji2">
アメリカ軍はB-17を改造し、BQ-7と呼ばれる爆弾を搭載した無人爆撃機を開発しました。敵の軍の施設を破壊するのが目的でした。ですが、爆弾の遠隔解除の機能がなかったため、パイロットが乗り込み、敵の目標の近くでパイロットが安全装置を解除してから脱出していたそうです。
</p>
<p class="gaido-contens-moji2">
途中までパイロットが乗り込むわけなので、無人攻撃機としては不完全ですね。半ドローン、といった感じです。あまり実用的ではなかったため、攻撃に成功したことは一度もありませんでした。ドローンの誕生は、とても荒々しいものでした。
</p>


<h2 class="gaido-contens-moji3">
ドローンは軍用機として発展していった
</h2>


<%= image_tag 'columns/colom-image2-3.jpg', class: "img-gaido" %>

<p class="colom-komoji">
引用元：wikipedia（RQ-1 プレデター）
</p>

<p class="gaido-contens-moji2">
さあ、ドローンの誕生は順調と言えるものではなかったようですが、その後はどうでしょうか？
</p>

<p class="gaido-contens-moji2">
第二次世界大戦後もドローンの開発は続きます。実際に、魚雷の投下を目的としたドローンなどが配備されます。
</p>

<p class="gaido-contens-moji2">
僕の印象に残っているのは、プレデターです。英語で「略奪者、捕食者」という、友達には決してなりたくない名前がついた恐ろしい奴なのですが、これは無人偵察機として開発されました。2003年にはイラク戦争で偵察だけでなく攻撃型も用いられ、実際に爆撃しています。誤爆で民間人を巻き込む被害が表面化し、ニュースでもよく取り上げられましたよね。
</p>

<h1 class="gaido-contens-moji1">
ヤマハがドローンの民間活用の先駆け
</h1>

<%= image_tag 'columns/colom-image2-4.jpg', class: "img-gaido" %>


<p class="gaido-contens-moji2">
ここまで、「戦争とドローン。。。物騒な。。。」という感じの歴史を歩んできたドローン。
</p>

<p class="gaido-contens-moji2">
そのドローンの方向性が大きく変わる出来事が起こります。それがヤマハによる農薬散布用のドローンの開発です。ドローンというよりも、農薬散布用のラジコンヘリ、と言った方がしっくりときますが。笑 
</p>
 
<p class="gaido-contens-moji2">
1980年代末から実用化され主に日本で活用されてきました。この辺に来てようやく、僕たちの生活の役に立つドローンというイメージに近づいてきますね！なんと、2000年代前半時点では、世界の民間用のドローンのうち65%が日本のドローンで、そのほとんどは農薬散布用だったというデータもあります。民間用のドローンというと目新しいイメージがありますが、日本では20年以上前から馴染みのある存在だったわけです。
</p>


<h1 class="gaido-contens-moji1">
ドローンが誰にも身近な存在に
</h1>

<%= image_tag 'columns/colom-image2-5.jpg', class: "img-gaido" %>


<p class="gaido-contens-moji2">
数年前から話題になってきた、いわゆるドローンはこの段階ですね。
</p>

<p class="gaido-contens-moji2">
2010年にParrot社から発売されたAR.Droneや、DJI社のPhantom（ファントム）シリーズは、メディアなどで目にした方も多いはずです。
</p>

<p class="gaido-contens-moji2">
それまでの農薬散布用のヘリなどと違い、数万円台から買えるというコストの安さ、またスマホを使って空撮や操縦ができるという手軽さ、機体の小ささ、軽さなど、段違いの費用対効果です。農薬散布と空撮では用途が違いますが、それでもこの変化には驚きますよね。
</p>

<p class="gaido-contens-moji2">
小型カメラなど、ドローンで使われる部品が低価格してきたことが、この驚きのスペックの進化の主な理由のようです。
</p>

<p class="gaido-contens-moji2">
これからますますドローンは進化していくでしょうね！
</p>



<p>
<%= link_to "コラムホームに戻る＞＞", "/columns/", class: "gaido-contens-moji4" %>
</p>

   </div>

</div>

<footer class=lineman>
</footer>
