<html>
  <head>
    <meta charset="UTF-8" />
    <link rel="stylesheet" href="style.css">
    <title>ベストドローンスクール</title>
  </head>
<body>
  <div class ="contens-hokkaido">
       <span class ="moji-hokkaido">
       <h1>STEP４ 卒業後の進路は？</h1>
       </span>
  </div>

<div class="gaido-main">

  <div class="gaido-contens">

<!-- ここから本文 -->

<%= image_tag 'hajimete/step4-1.jpg', class: "img-gaido" %>


<p class="gaido-contens-moji2">
ドローンスクールに入学を検討している方にとって、一番気になることは何でしょうか？
もちろん入学後にスクールで何を学ぶのか、誰に教わるのか、といったことは気になるでしょう。
しかし、一番気になるのは、やはり
</p>

<h2 class="gaido-contens-moji3">
「スクール卒業して、そのスキルをどう生かすの？」
</h2>


<p class="gaido-contens-moji2">
ということではないでしょうか？
今回は、ドローンスクール卒業後の進路やスキルの生かし方について解説してみます！
</p>

<h1 class="gaido-contens-moji1">
卒業後の3つのタイプとは？
</h1>

<%= image_tag 'hajimete/step4-2.jpg', class: "img-gaido" %>


<p class="gaido-contens-moji2">
ドローンスクールに入学してくるタイプには大きく言って、3タイプいると考えています。
</p>

<p class="gaido-contens-moji2">
その3タイプとは、
</p>


<p class="gaido-contens-moji5">
1. 現在の仕事に生かすタイプ
</p>

<p class="gaido-contens-moji5">
2. 将来の就職や転職の強みとするタイプ
</p>

<p class="gaido-contens-moji5">
3. 思い切って起業タイプ
</p>

<p class="gaido-contens-moji2">
です。
</p>

<p class="gaido-contens-moji2">
どのタイプも仕事に生かそうとしている点では共通しています。趣味でドローンをやりたいという方も少数いらっしゃるでしょうが、ここでは割愛します。
</p>

<p class="gaido-contens-moji2">
さて、あなたは3タイプのうち、どのタイプでしょうか？では、一つ一つ解説していきましょう。
</p>

<p class="gaido-contens-moji3">
現在の仕事に生かすタイプ
</p>

<%= image_tag 'hajimete/step4-3.jpg', class: "img-gaido" %>

<p class="gaido-contens-moji2">
まず一つ目は、現在の仕事に生かすタイプですね。
</p>

<p class="gaido-contens-moji2">
考えられる仕事としては、建設や測量関係、インフラ点検、映像制作系などです。ドローンを現在の仕事に導入することによって、現在よりも効率的かつ低コストに成果を上げられると見込める仕事です。仕事の内容によっては、クオリティも上がるかもしれません。そうなれば素晴らしいですね！
</p>

<p class="gaido-contens-moji2">
入学方法としては、個人で入学を選択する場合もあるでしょうし、会社から「スクールに行って学んできなさい」と指令が下る場合もあると思います。
</p>

<p class="gaido-contens-moji2">
現在の仕事にドローンを導入する場合が一番ドローンのスキルを生かしやすいと考えています。
なぜなら、
</p>

<p class="gaido-contens-moji3">
ドローンを生かす現場を肌感覚で知っている
</p>

<p class="gaido-contens-moji2">
からです。確かにドローンに関しては初心者からの出発ですが、現在の仕事自体はすでに慣れたもので、ご自身の中でスキルなどはある程度確立されているでしょう。このように、すでに確立されているスキルや仕事に、新しいドローン操縦のスキルをプラスすることはリスクが低く効果の出やすい方法だと言えます。
</p>

<p class="gaido-contens-moji2">
ですので、現在の仕事にドローンをプラスしたら、
</p>

<p class="gaido-contens-moji5">
・もっと仕事を効率的にできないか
</p>
<p class="gaido-contens-moji5">
・もっとコストを下げられないか
</p>
<p class="gaido-contens-moji5">
・もっとクオリティを上げられないか
</p>

<p class="gaido-contens-moji2">
の視点で考えるとドローン活用の道が見えてくると思います。
</p>

<p class="gaido-contens-moji2">
例えば、測量だとこんなイメージです。
これまで数日かかって広大な敷地を人手をかけて測量していた方法をドローンでの測量に変更。上空からドローンのカメラで敷地を撮影し、スキャンしたデータをパソコンで読み込み、3Dのデータに加工することで数時間で作業が完了します。コストも人手がかからないので劇的に減ります。測量という従来の仕事にドローンを導入することで、効率は上がりコストは下がったわけです。
</p>

<p class="gaido-contens-moji5">
このように自分の現在の仕事にドローンをプラスしたら、どんないいことがあるだろうか考えてみるといいと思いますよ！
</p>

<h1 class="gaido-contens-moji1">
将来の就職や転職の強みとするタイプ
</h1>



<%= image_tag 'hajimete/step4-4.jpg', class: "img-gaido" %>

<p class="gaido-contens-moji2">
2番目は、将来の就職や転職の強みとするタイプです。今、学生の方や、転職を考えている方がこれに当てはまります。
</p>

<p class="gaido-contens-moji2">
ドローンの市場というのは今まだ拡大し始めたばかりです。ドローン操縦のプロと言われる方もまだほとんどいない状態です。つまり、ドローン操縦のスキルはまだまだ貴重なのです。
</p>

<p class="gaido-contens-moji2">
貴重なスキルを持っていれば、
</p>

<p class="gaido-contens-moji3">
将来の就職や転職に有利になる可能性がありますよね！
</p>

<p class="gaido-contens-moji2">
特にドローンの積極的な活用が見込まれる建設や映像関係の分野であれば、ドローン操縦のスキルがあるに越したことはないでしょう！ドローンというもの自体、一般化してきたのはここ数年です。なので、まだほとんどドローンのプロと言われる人々は少ない状態です。
</p>

<p class="gaido-contens-moji2">
もし、あなたがドローン操縦のスキルを身につけて就職や転職をすれば、その就職先や転職先でドローン操縦のスキルを持っているのはあなたしかいない！という状態も考えられるでしょう。もしそうなれば、あなたがその職場ではドローンに関しては第一人者です。あなたの強みとなるのです。
</p>

<p class="gaido-contens-moji2">
とは言っても、とにかくドローンのスキルを身につければ、就職や転職に有利になるのだ！と先走らないでください 笑 以下の点を意識しましょう。
</p>


<p class="gaido-contens-moji5">
・就職や転職したい業界は、今後ドローンの活用が見込まれる業界なのか？
</p>
<p class="gaido-contens-moji5">
・就職や転職したい会社は、ドローンのスキルを求めているのか？
</p>

<p class="gaido-contens-moji2">
業界の動向なんかはネットで調べればわかると思いますし、もし特定の会社が気になるのであればホームページを見てみたり、直接担当者に聞いてみるのもいいかもしれませんね。
</p>

<p class="gaido-contens-moji2">
就職や転職の有利な材料にしたい人にとっては、スクール入学を検討する価値があります。
</p>

<h1 class="gaido-contens-moji1">
思い切って起業タイプ
</h1>

<%= image_tag 'hajimete/step4-5.jpg', class: "img-gaido" %>

<p class="gaido-contens-moji2">
最後が思い切って起業タイプですね。ええ、どちらかというと私もこのタイプですね。 笑
具体的にどんなアイデアが考えれれるでしょうか？</p>

<p class="gaido-contens-moji5">
・空撮ビジネスを立ち上げる
</p>
<p class="gaido-contens-moji5">
・ドローンスクールを立ち上げる
</p>
<p class="gaido-contens-moji5">
・インフラ点検ビジネスを立ち上げる
</p>
<p class="gaido-contens-moji5">
・その他ドローン関連ビジネスを立ち上げる
</p>


<p class="gaido-contens-moji2">
起業や独立は確かに自分の夢を叶えられる楽しいものかもしれません。
</p>

<p class="gaido-contens-moji2">
しかし、耳の痛いことを言うと、このタイプは正直言って、ハイリスクパターンだと言えます。なぜなら、ドローンというもの自体、自分にとっては新しい存在であるのに加えて、起業や独立といった物事を一から作り上げる挑戦もしなければいけないからです。
</p>


<p class="gaido-contens-moji2">
冷静に考えてみると、例えば、ドローンを使って映像を制作するといっても、ドローンを操縦するだけでなくそもそも映像の構成や編集のスキルも必要です。ただドローンで撮れば良いというわけではないです。
</p>

<p class="gaido-contens-moji2">
しかし！！！！待ってください。 リスクを下げる方法はあります。
</p>

<p class="gaido-contens-moji5">
・現在の強みを生かす
</p>

<p class="gaido-contens-moji2">
現在のスキルや知識を生かせるのであれば、リスクを下げられます。もし映像制作系の技術を持っているのであれば、ドローンの空撮ビジネスは選択肢として良いかもしれません。現在、塾講師をしているのであればドローンのスキルを加えて、ドローンスクール開校も夢ではありませんね。
</p>

<p class="gaido-contens-moji5">
・仲間を作る
</p>


<p class="gaido-contens-moji2">
仲間を作って、お互いの弱みや不足している能力を補ってリスクを下げるという作戦です。ビジネスを考えるのは好きだが、技術がないというのであれば、例えば、アプリ制作技術を持っている方と協力してビジネスを作り上げていくという選択肢もあります。
</P>

<p class="gaido-contens-moji2">
正直言って、ドローン業界自体がまだ立ち上がってきて1,2年の黎明期です。まだまだこれからです！どんなドローンビジネスの芽があるのか妄想して、機会を見出しましょう！
</p>

<p class="gaido-contens-moji2">
さて、いかがだったでしょうか？
ドローンスクールの卒業後の未来は様々考えられます。自分はどのタイプかあらかじめ想定してドローンスクールを選ぶと将来への近道になると思いますよ！
</p>


   </div>

</div>

<footer class=lineman>
</footer>
</body>
</html>