<html>
  <head>
    <meta charset="UTF-8" />
    <link rel="stylesheet" href="style.css">
    <title>ベストドローンスクール</title>
  </head>
<body>
  <div class ="contens-hokkaido">
       <span class ="moji-hokkaido">
       <h1>STEP3　ドローンスクールに入学して何を学べる！？</h1>
       </span>
  </div>

<div class="gaido-main">

  <div class="gaido-contens">

<!-- ここから本文 -->

<%= image_tag 'hajimete/step3-1.jpg', class: "img-gaido" %>


<p class="gaido-contens-moji2">
ここでは、ドローンスクールに入学して何を学べるのか！？を初めての方がイメージしやすいように、「カリキュラム（例）」を上げて説明します。
</p>
<p class="gaido-contens-moji2">
以下、一般的なカリキュラムになりますが、学校によりカリキュラムが異なるため、気になる部分は、説明会等で質問してみて下さい。</p>


<h2 class="gaido-contens-moji3">
カリキュラム（例）
</h2>


<p class="gaido-contens-moji5">
※スクールの入学から卒業までの日数としては、5～7日間程度の学校が多く、最初は座学（基礎知識取得）からスタートしで、その後にドローン実技実習を行う学校が多いようです。
</p>

<p class="gaido-contens-moji5">
【確認ポイント】は入学前に確認しておいた方が良いポイントになります。
</p>

<h1 class="gaido-contens-moji1">
座学実習
</h1>

<%= image_tag 'hajimete/step3-2.jpg', class: "img-gaido" %>

<h2 class="gaido-contens-moji3">
平均日数：1日～3日
</h2>


<p class="gaido-contens-moji2">
「ドローンについて知る！！」というのが、座学の一番の目的になります。
</p>
<p class="gaido-contens-moji2">
講義内容としては、ドローンの歴史や飛行原理、法令、機体仕組みなどを学びます。学校によっては、プロの空撮カメラマンなどを招いて座学を行う学校もあるようです。
</p>


<p class="gaido-contens-moji5">
【確認ポイント】講義内容に決まりがない為、どういう教科書（教材）を使用するのか確認。
</p>

<h1 class="gaido-contens-moji1">
筆記試験
</h1>


<%= image_tag 'hajimete/step3-3.jpg', class: "img-gaido" %>

<p class="gaido-contens-moji2">
座学での理解度を試す為に、筆記試験を設けている学校もあります。試験難易度も学校により異なり、問題数が10問程度の学校もあれば、問題数が40問～50問という学校もあるようです。
</p>

<p class="gaido-contens-moji5">
【確認ポイント】
</p>

<p class="gaido-contens-moji5">
試験難易度や内容について確認。簡単に合格するようなら、試験の意味がないのでは！？と思います。
</p>


<h1 class="gaido-contens-moji1">
ドローン実技実習（屋内）
</h1>



<%= image_tag 'hajimete/step3-4.jpg', class: "img-gaido" %>

<h2 class="gaido-contens-moji3">
平均日数：2日～5日（屋外実習も含む）
</h2>
<p class="gaido-contens-moji2">
座学で、ドローンの基礎知識を身に付けた後は、実際にドローンを飛ばしてみよう！！というのが、実技実習になるのですが、最初は屋内での実習からスタートし、屋外での実習という学校が多いです。
</p>

<p class="gaido-contens-moji2">
屋内実技実習の内容としては、トイドローンと呼ばれる小型の機体を使った実習を行う学校が多いようです。
</p>

<p class="gaido-contens-moji2">
トイドローンは小型の機体であることから、風などの外的要因に弱いことや、高度と位置の自動制御機能が付いていない機体が多い為、操縦が難しく、トイドローンを自由自在に操縦できるようになれば、Phantomのような大型の機体でも安全に飛行することができるようになるとのことです。
</p>

<p class="gaido-contens-moji2">
また、学校によってはフライトシュミレータを使用して、実技の講習を行っている学校もあるようです。
</p>

<p class="gaido-contens-moji5">
【確認ポイント】
</p>

<p class="gaido-contens-moji5">
実習の内容や実習場所について、確認しておくと良いと思います。トイドローンを使って等、教えてくれる学校は多いですが、具体的になぜその機体を使用するのか、ドローンの機体は1人1台貸与なのか等、確認しておくと安心だと思います。
</p>




<h1 class="gaido-contens-moji1">
ドローン実技実習（屋外）
</h1>

<%= image_tag 'hajimete/step3-5.jpg', class: "img-gaido" %>

<p class="gaido-contens-moji2">
ようやく、この時間がきました。</p>


<p class="gaido-contens-moji2">
この実習では、実際にドローンを屋外で飛行させる実習になります。実際にドローンを屋外で飛行させてみて、飛行させる感覚や操作技術を身に付けます。
</p>

<p class="gaido-contens-moji2">
個人的には、1番この実習が楽しいのではないかと思います。
</p>


<p class="gaido-contens-moji2">
実習場所としては、都内などの人口密集地での飛行は禁止されている為、都内の学校では、フットサル場などを実習場所として使用している学校もありますし、郊外まで遠征して実習を行う学校があります。郊外の実習場所としては、閉鎖期間中のスキー場や、廃校となった学校跡地などを借りて実習を行っているようです。
</p>


<p class="gaido-contens-moji5">
【確認ポイント】
</p>

<p class="gaido-contens-moji5">
どこで実習を行うのか！？雨天時にも実習はできるのか！？学校によりますが、1台のドローンを複数人で使用する学校もある為、1人1台なのか、複数人で1台なのか要確認です。複数人で使用する場合、全然操作できなかった、、、なんてことになる可能性もありますので。</p>


<p class="gaido-contens-moji5">
また、都内の学校では、郊外に宿泊で遠征（1泊2日等）する学校もあり、遠征先が晴れていれば良いですが、、、天候が悪かった場合の対策等は考慮されているのか等、確認が必要かと思います。
</P>


<h1 class="gaido-contens-moji1">
ドローン操作実技試験（屋内・屋外）
</h1>

<%= image_tag 'hajimete/step3-6.jpg', class: "img-gaido" %>

<p class="gaido-contens-moji5">
【確認ポイント】
</p>

<p class="gaido-contens-moji5">
筆記試験の時同様ですが、実技試験の難易度や内容については確認しておくのが良いと思います。</p>




   </div>

</div>

<footer class=lineman>
</footer>
</body>
</html>