<html>
  <head>
    <meta charset="UTF-8" />
    <link rel="stylesheet" href="style.css">
    <title>ベストドローンスクール</title>
  </head>
<body>
  <div class ="contens-hokkaido">
       <span class ="moji-hokkaido">
       <h1>STEP１　ドローンスクールとは</h1>
       </span>
  </div>

<div class="gaido-main">

  <div class="gaido-contens">

<!-- ここから本文 -->

<%= image_tag 'hajimete/step1.jpg', class: "img-gaido" %>


<p class="gaido-contens-moji2">
こんにちは。ベストドローンスクールの佐藤です。
</p>
<p class="gaido-contens-moji2">
現在、ドローンスクールは2015年から急速に増え続けています。
</p>
<p class="gaido-contens-moji2">
ただ、正直どこの学校もホームページをみれば似たり寄ったりで、違いも分からず、どこに入学すればよいのか迷ってしまいますよね。
</p>


<h2 class="gaido-contens-moji3">
・ドローンスクールって何を学べるの？
</h2>

<h2 class="gaido-contens-moji3">
・ドローンスクールを卒業したらどうなるの？
</h2>

<p class="gaido-contens-moji2">
などなど、疑問はつきないと思いますので、ここでは、ドローンスクールがどんなところなのか、ドローンスクールへの入学を希望している方が、少しでもドローンスクールについてイメージできるように説明していきたいと思っていますので、参考にして頂ければ幸いです。
</p>

<h1 class="gaido-contens-moji1">
ドローンを飛ばすのに資格は必要ない。
</h1>

<%= image_tag 'hajimete/step1-2.jpg', class: "img-gaido" %>

<p class="gaido-contens-moji2">
とても大事なことなので先にお伝えしておきますが、ドローンを飛ばすのに、「免許」や「資格」は必要ないということです。
</p>
<p class="gaido-contens-moji2">
全国にたくさんのドローンスクールが存在しますが、ドローンスクールを卒業しなくても、ドローンを飛ばすことは可能ですし、空撮も行うことができます。
</p>
<p class="gaido-contens-moji2">
ドローンスクールを卒業しないと、ドローンの操縦はできない！？みたいな誤解をされやすいので、先にお伝えさせていただきますね。
</p>


<h2 class="gaido-contens-moji3">
じゃ、スクールに通う必要ある？？？
</h2>

<p class="gaido-contens-moji2">
なんて疑問が出てくると思いますが、自分で始めちゃおうかな！！って思った方は、スクールに通わずに、自分でドローンの仕事でも空撮でも始めてしまって構わないと思いますし、実際にスクールに通わずに空撮などのビジネスを行っている人達もたくさんいると思います。
</p>


<h1 class="gaido-contens-moji1">
ドローンスクールに通うメリットって何！？
</h1>


<%= image_tag 'hajimete/step1-3.jpg', class: "img-gaido" %>

<p class="gaido-contens-moji2">
では、ドローンスクールに通うメリットってなんでしょうか！？
</p>

<p class="gaido-contens-moji2">
ドローンスクールに通う一番のメリットそれは、、、
</p>

<h2 class="gaido-contens-moji3">
「ドローンを操縦する知識や技能を一から学べる場所」
</h2>

<p class="gaido-contens-moji2">
ということです。
</p>

<p class="gaido-contens-moji2">
当たり前といえば、当たり前なんですが、ドローンについて全く知識もなく、操縦もしたことのない人達に対して、講師の方達がドローンについて、一から教えてくれますし、ドローン業界で実際に業務を行っている講師の方から、講義を受けることができるので、独学で学ぶよりも、知識を早く確実に吸収できるのがドローンスクールに通う一番のメリットだと思います。
</p>
 
<p class="gaido-contens-moji2">
特に、ドローンについては、墜落事故が多数発生しており、飛行禁止区域なども定められていることから、今後ドローンを扱う人に対してはドローンに対する知識と確かな操縦技術が要求されることは間違いありません。そういった知識を身につけるには独学よりもスクールに通う方が、確実な知識が身に付きやすいのではないのでしょうか。
</p>

<p class="gaido-contens-moji2">
また、認定試験なんかも設けている学校があり、認定試験に合格する為には、ドローンに対する知識と操縦技術が一定基準以上（スクールにより異なります。）要求される為、スクールを卒業するまでには、ドローンを安全に飛行することのできる操縦技術と知識が身につくと思います。
</p>


<h1 class="gaido-contens-moji1">
ドローンスクールの規模・数について
</h1>



<%= image_tag 'hajimete/step1-4.jpg', class: "img-gaido" %>

<p class="gaido-contens-moji2">
それでは、ドローンスクールが全国にどれだけ存在するのでしょうか。
</p>
<p class="gaido-contens-moji2">
ドローンスクールの数・規模・認定組織などについて確認してみましょう。
</p>
 
<h2 class="gaido-contens-moji3">
ドローンスクールの数
</h2>

<p class="gaido-contens-moji2">
全国には約70校のドローンスクールが存在し、代表的な認定組織として、JUIDA、DPA、DJIなどがあります。この認定組織に加盟して学校を運営しているスクールもありますし、独自で開講しているスクールもあります。どちらが良い悪いではないので、自分の目的に応じてスクールを選ぶのがポイントになると思います。また、現在は首都圏にスクールが集中している状態ですが、今後は地方についてもスクールが拡大していくと思われます。
</p>
<p class="gaido-contens-moji2">
※スクール数などについては、ベストドローンスクール独自の調査による。
</p>


<h1 class="gaido-contens-moji1">
ドローン学校を卒業するまでに必要な費用と日数
</h1>

<%= image_tag 'hajimete/step1-5.jpg', class: "img-gaido" %>

<p class="gaido-contens-moji2">
次に、ドローンスクールを卒業するまでに要する日数と費用について確認してみましょう。</p>

 
<h2 class="gaido-contens-moji3">
卒業までに必要な日数について
</h2>

<p class="gaido-contens-moji2">
各スクールにより、卒業までの日数は異なりますが、平均3日～4日間といったところでしょうか。
</p>

<p class="gaido-contens-moji2">
中には1週間程度の講習を行うスクールも存在しますが、短期間で卒業できるイメージです。スクールによっては週末限定の講義など、サラリーマンの方達も講義が受けやすくなるように工夫されています。
</p>

 
<h2 class="gaido-contens-moji3">
卒業までに必要な費用について
</h2>

<p class="gaido-contens-moji2">
費用についてもスクールにより異なりますが、20万円以上の学校が多い状況です。
</p>

<p class="gaido-contens-moji2">
カリキュラムが学校によりそれぞれ異なる為、一概に比較はできませんが、卒業するまでに掛かる費用は安くはないというのが正直な感想でしょうか。
</p>

<p class="gaido-contens-moji2">
費用が高い学校だと、40万円近い学校もあります。
</p>

<p class="gaido-contens-moji2">
急速に学校が増え続けていますので、今後はこの費用についても、安価になることを願っていますが、どうでしょうか！？
</p>

<h1 class="gaido-contens-moji1">
どんな人が講師で、どんなことを学べるの！？
</h1>

<%= image_tag 'hajimete/step1-6.jpg', class: "img-gaido" %>

<p class="gaido-contens-moji2">
各学校により講師の方は異なりますが、ドローンを使ってビジネスを行っている方を講師として招いている学校が多いようです。
</p>

<p class="gaido-contens-moji2">
実技などは実際に空撮等のビジネスを行っている方を招いたり、座学では、ドローン開発の第一線で活躍されている方を招いたりと、このような講師の方の話を直接聞けるのも、ドローンスクールに入学するメリットの一つだと思います。
</p>

<p class="gaido-contens-moji2">
講義については、座学講習と実技講習の２パターンに分けて講習を行う学校がほとんだと思います。
</p>

<p class="gaido-contens-moji2">
講習では、ドローンの構造の仕組みや、法律について、飛行時の安全確保等について、座学で学びます。
</p>

<p class="gaido-contens-moji2">
操縦では、実際にドローンを屋外で飛行させる実習を行ったり、トイドローン（小さいドローン）を使った室内での実習などを行っているみたいです。
</p>

<p class="gaido-contens-moji2">
都内など人口密集地域ではドローンの飛行が禁止されているため、都内の学校では、フットサル場を借りての講義や、静岡や山梨などに、遠征をして実習講習を行う学校もあります。
</p>

<p>
<%= link_to "STEP２　ドローンスクール選びのポイント＞＞", "/colleges/zenkoku#page_school", class: "gaido-contens-moji4" %>
</p>

   </div>

</div>

<footer class=lineman>
</footer>
</body>
</html>