<html>
  <head>
    <meta charset="UTF-8" />
    <link rel="stylesheet" href="style.css">
    <title>ベストドローンスクール</title>
  </head>
<body>
  <div class ="contens-hokkaido">
       <span class ="moji-hokkaido">
       <h1>STEP2　ドローンスクール選びのポイント</h1>
       </span>
  </div>

<div class="gaido-main">

  <div class="gaido-contens">

<!-- ここから本文 -->

<%= image_tag 'hajimete/step2-1.jpg', class: "img-gaido" %>


<p class="gaido-contens-moji2">
たくさんのドローンスクールがありますが、もちろんどの学校でも良いというわけではありません！
</p>
<p class="gaido-contens-moji2">
自分にぴったりの学校に入りたいですよね。
</p>
<p class="gaido-contens-moji2">
そこで、自分にベストな学校を選ぶために、どういった点が学校選びのポイントなのかご紹介します！
</p>


<h1 class="gaido-contens-moji1">
自分の目的に合った学校か？
</h1>

<%= image_tag 'hajimete/step2-2.jpg', class: "img-gaido" %>

<p class="gaido-contens-moji2">
何より大事なのは、自分の目的に合っている学校を見つけることです。
</p>
<p class="gaido-contens-moji2">
実は、ドローンスクールと一口に言っても、様々なタイプがあります。
</p>
<p class="gaido-contens-moji2">
ラジコン競技会で賞を獲るようなラジコンのプロが講師として教えている学校や、もともと映像制作がメインでドローンを導入し、ドローンスクールを開講したような学校などです。
</p>

<p class="gaido-contens-moji2">
なので、なんとなくで学校を選んでしまうと、
</p>

<h2 class="gaido-contens-moji3">
「私の学びたいことはこれじゃなかった。。。」
</h2>

<p class="gaido-contens-moji2">
というような失敗に陥るリスクがあります。
</p>

<p class="gaido-contens-moji2">
そうならないために、まずしっかり、自分はドローンスクールに入って何を学びたいのか明確化しましょう。
</p>

<p class="gaido-contens-moji2">
例えば、ドローンを一度も触ったことがなく、とりあえずドローンというものを操縦できるようになりたいという方は、ドローンの操縦に力を入れている学校が良いでしょう。
</p>

<p class="gaido-contens-moji2">
また、「仕事でドローンを使って測量をやりたいんだ！」という方は、操縦技術に加えて、測量も教えている学校を選んだほうが良いと思います。
</p>

<p class="gaido-contens-moji2">
他に、映像制作を将来的に考えている方は、空撮や映像の編集まで学べる学校が良いかもしれませんね。
</p>

<p class="gaido-contens-moji2">
とにかく大事なのは、
</p>

<h2 class="gaido-contens-moji3">
「自分が何をやりたいのかをはっきりさせて、その目的に応じた学校を選ぶことです！」
</h2>

<h1 class="gaido-contens-moji1">
学習環境は整っているか？
</h1>


<%= image_tag 'hajimete/step2-3.jpg', class: "img-gaido" %>

<p class="gaido-contens-moji2">
学習環境はとても大事な要素です。
</p>

<p class="gaido-contens-moji2">
なぜなら、どれだけ良い学習環境が用意されているかが、どれだけ効率的にドローンの技術や知識を学べるかを左右するからです。
</p>

<p class="gaido-contens-moji2">
例えば、東京都内のスクールであれば、知識を学ぶ座学は都内のビルの一室で行い、実際にドローンを飛行させる実技講習は、郊外まで行って実施するパターンがあります。郊外まで行かずに、都内のフットサル場を借りて実施する場合もあるようです。
</p>

<p class="gaido-contens-moji2">
仕事で忙しく通学時間を出来る限り抑えたい方は、都内で完結する方が時間の節約になりますし、郊外の広い所で思いっきりドローンを飛ばして操縦スキルを磨きたい方は郊外型を選んだ方が良いと思います。
</p>

<p class="gaido-contens-moji2">
その他、学習環境のポイントとしては、十分な知識や技術を持った講師が揃っているか、ドローン操縦の練習時間は実質的に何時間確保されているか、学校側がドローンを生徒に貸し出す場合は、生徒一人あたりのドローン台数は何台か、などはチェックしておいたほうが良いでしょう。
</p>

<h1 class="gaido-contens-moji1">
卒業後の進路は示されているか？
</h1>

<%= image_tag 'hajimete/step2-4.jpg', class: "img-gaido" %>

<p class="gaido-contens-moji2">
さて、そもそも学校に入るということは、最初にお伝えしたように何かしらの目的があるからなわけですが、例えば、いざ空撮の知識や技術を学んだからといって、すぐにドローンオペレーターになって空撮の仕事をバンバン受注できるわけではありません。むしろ、それはレアなケースでしょう。
</p>
<p class="gaido-contens-moji2">
なので、学校側が生徒に対して卒業後の進路をどのようにサポートしているかが、重要となります。
</p>

<p class="gaido-contens-moji2">
例えば、学校が映像製作関連の会社と連携して、空撮業務の仕事を受注できるチャンスが用意されていたり、卒業後に生徒同士のコミュニティが用意されていて卒業後も知識や技術を向上できる場が用意されていたりします。
</p>

<p class="gaido-contens-moji2">
現段階では正直言って、「卒業後はこの仕事につけます！！」と明確に打ち出せる学校は少ないようですが、それでも生徒の卒業後の将来をどれだけ真剣に考えているかは学校によって異なりますので、そこを見極めるのは重要だと思います。
</p>

<h1 class="gaido-contens-moji1">
説明会に参加しよう！
</h1>

<%= image_tag 'hajimete/step2-5.jpg', class: "img-gaido" %>

<p class="gaido-contens-moji2">
いろいろと言ってきましたが、「どこが自分にとってベストなドローンスクールなんだろう」と思っている人が、学校を最終的に選ぶ判断材料となるのは、やはり説明会でしょう！</p>

<p class="gaido-contens-moji2">
定期的に説明会を開いている学校は多数あります。実際に学校に足を運び、担当者の説明を聞くことで、その学校の雰囲気や熱量などが伝わってきます。
</p>

<p class="gaido-contens-moji2">
遠隔地に住んでいらっしゃる方は難しい方もいらっしゃるかもしれませんが、出来る限り説明会に参加されることをお勧めします！
</p>

<h2 class="gaido-contens-moji3">
いかがでしたか？
</h2>

<p class="gaido-contens-moji2">
どの学校が自分にとってベストなんだろう、という疑問は尽きることはないと思いますが、学校のホームページを調べたり、説明会に足を運んだりして、まずは一歩踏み出してみると良いと思いますよ！
</p>


<p>
<%= link_to "STEP３　ドローンスクールに入学して何を学べる＞＞", "/colleges/zenkoku#page_school", class: "gaido-contens-moji4" %>
</p>

   </div>

</div>

<footer class=lineman>
</footer>
</body>
</html>