<html>
  <head>
    <meta charset="UTF-8" />
    <link rel="stylesheet" href="style.css">
    <!-- ビューポートの設定 -->
  <meta name="viewport" content="width=device-width,initial-scale=1">
    <title>ベストドローンスクール</title>
  </head>
<body>
<div class ="contens-hokkaido" id="page_school">
  <div class="zenkoku-itiran">
       <span class ="moji-hokkaido">
       <h1 class="zenkou-h1">ドローンスクール一覧</h1>
       </span>
  </div>
</div>
<div class="contens-hokkaido2">
  <div class="zenkoku1" id="page_hokkaido">
    <h3 class="inner-moji">北海道</h3>
  </div>
    <ul class ="zenkoku-ranking1" style="list-style:none;">
      <li class="li-takotako">
      <a href="/areas/1" class="irokotei">
      <h5 class="ranking-moji">北海道<h5></a>
      <p class="ranking-kutikomi">学校数：<%= @drone.count %> 件</p>
      </a>
      </li>
    </ul>


  <div class="zenkoku1" id="page_touhoku">
    <h3 class="inner-moji">東北</h3>
  </div>
<ul class ="zenkoku-ranking2" style="list-style:none;">
  <li class="li-takotako">
 <a href="/areas/2" class="irokotei">
    <h5 class="ranking-moji">青森県<h5></a>
     <p class="ranking-kutikomi">学校数：<%= @drone1.count %>件</p>
  </li>

  <li class="li-takotako">
  <a href="/areas/3" class="irokotei">
    <h5 class="ranking-moji">岩手県<h5></a>
     <p class="ranking-kutikomi">学校数：<%= @drone2.count %>件</p>
  </li>

  <li class="li-takotako">
  <a href="/areas/4" class="irokotei">
    <h5 class="ranking-moji">宮城県<h5></a>
     <p class="ranking-kutikomi">学校数：<%= @drone3.count %>件</p>
  </li>

  <li class="li-takotako">
  <a href="/areas/5" class="irokotei">
    <h5 class="ranking-moji">秋田県<h5></a>
     <p class="ranking-kutikomi">学校数：<%= @drone4.count %>件</p>
  </li>

  <li class="li-takotako">
  <a href="/areas/6" class="irokotei">
    <h5 class="ranking-moji">山形県<h5></a>
     <p class="ranking-kutikomi">学校数：<%= @drone5.count %>件</p>
  </li>
</ul>

<ul class ="zenkoku-ranking3" style="list-style:none;">
  <li class="li-takotako">
  <a href="/areas/7" class="irokotei">
    <h5 class="ranking-moji">福島県<h5></a>
     <p class="ranking-kutikomi">学校数：<%= @drone6.count %>件</p>
  </li>
</ul>

</div>
    <div class="zenkoku1" id="page_kanto">
    <h3 class="inner-moji">関東</h3>
    </div>
<ul class ="zenkoku-ranking3" style="list-style:none;">
  <li class="li-takotako">
  <a href="/areas/8" class="irokotei">
    <h5 class="ranking-moji">茨城県<h5></a>
     <p class="ranking-kutikomi">学校数：<%= @drone7.count %>件</p>
  </li>

  <li class="li-takotako">
  <a href="/areas/9" class="irokotei">
    <h5 class="ranking-moji">栃木県<h5></a>
     <p class="ranking-kutikomi">学校数：<%= @drone8.count %>件</p>
  </li>

  <li class="li-takotako">
  <a href="/areas/10" class="irokotei">
    <h5 class="ranking-moji">群馬県<h5></a>
     <p class="ranking-kutikomi">学校数：<%= @drone9.count %>件</p>
  </li>

  <li class="li-takotako">
  <a href="/areas/11" class="irokotei">
    <h5 class="ranking-moji">埼玉県<h5></a>
     <p class="ranking-kutikomi">学校数：<%= @drone10.count %>件</p>
  </li>

  <li class="li-takotako">
   <a href="/areas/12" class="irokotei">
    <h5 class="ranking-moji">千葉県<h5></a>
     <p class="ranking-kutikomi">学校数：<%= @drone11.count %>件</p>
  </li>
</ul>

<ul class ="zenkoku-ranking3" style="list-style:none;">
  <li class="li-takotako">
  <a href="/areas/13" class="irokotei">
    <h5 class="ranking-moji">東京都<h5></a>
     <p class="ranking-kutikomi">学校数：<%= @drone12.count %>件</p>
  </li>
  <li class="li-takotako">
  <a href="/areas/14" class="irokotei">
    <h5 class="ranking-moji">神奈川県<h5></a>
     <p class="ranking-kutikomi">学校数：<%= @drone13.count %>件</p>
  </li>
</ul>
    <div class="zenkoku1" id="page_tyubu">
    <h3 class="inner-moji">中部</h3>
    </div>
<ul class ="zenkoku-ranking3" style="list-style:none;">
  <li class="li-takotako">
  <a href="/areas/15" class="irokotei">
    <h5 class="ranking-moji">新潟県<h5></a>
     <p class="ranking-kutikomi">学校数：<%= @drone14.count %>件</p>
  </li>

  <li class="li-takotako">
  <a href="/areas/16" class="irokotei">
    <h5 class="ranking-moji">富山県<h5></a>
     <p class="ranking-kutikomi">学校数：<%= @drone15.count %>件</p>
  </li>

  <li class="li-takotako">
  <a href="/areas/17" class="irokotei">
    <h5 class="ranking-moji">石川県<h5></a>
     <p class="ranking-kutikomi">学校数：<%= @drone16.count %>件</p>
  </li>

  <li class="li-takotako">
  <a href="/areas/18" class="irokotei">
    <h5 class="ranking-moji">福井県<h5></a>
     <p class="ranking-kutikomi">学校数：<%= @drone17.count %>件</p>
  </li>

  <li class="li-takotako">
   <a href="/areas/19" class="irokotei">
    <h5 class="ranking-moji">山梨県<h5></a>
     <p class="ranking-kutikomi">学校数：<%= @drone18.count %>件</p>
  </li>
</ul>

<ul class ="zenkoku-ranking3" style="list-style:none;">
  <li class="li-takotako">
  <a href="/areas/20" class="irokotei">
    <h5 class="ranking-moji">長野県<h5></a>
     <p class="ranking-kutikomi">学校数：<%= @drone19.count %>件</p>
  </li>
  <li class="li-takotako">
  <a href="/areas/21" class="irokotei">
    <h5 class="ranking-moji">岐阜県<h5></a>
     <p class="ranking-kutikomi">学校数：<%= @drone20.count %>件</p>
  </li>
  <li class="li-takotako">
  <a href="/areas/22" class="irokotei">
    <h5 class="ranking-moji">静岡県<h5></a>
     <p class="ranking-kutikomi">学校数：<%= @drone21.count %>件</p>
  </li>
  <li class="li-takotako">
  <a href="/areas/23" class="irokotei">
    <h5 class="ranking-moji">愛知県<h5></a>
     <p class="ranking-kutikomi">学校数：<%= @drone22.count %>件</p>
  </li>
</ul>
    <div class="zenkoku1" id="page_kinki">
    <h3 class="inner-moji">近畿</h3>
    </div>
<ul class ="zenkoku-ranking3" style="list-style:none;">
  <li class="li-takotako">
  <a href="/areas/24" class="irokotei">
    <h5 class="ranking-moji">三重県<h5></a>
     <p class="ranking-kutikomi">学校数：<%= @drone23.count %>件</p>
  </li>

  <li class="li-takotako">
  <a href="/areas/25" class="irokotei">
    <h5 class="ranking-moji">滋賀県<h5></a>
     <p class="ranking-kutikomi">学校数：<%= @drone24.count %>件</p>
  </li>

  <li class="li-takotako">
  <a href="/areas/26" class="irokotei">
    <h5 class="ranking-moji">京都府<h5></a>
     <p class="ranking-kutikomi">学校数：<%= @drone25.count %>件</p>
  </li>

  <li class="li-takotako">
  <a href="/areas/27" class="irokotei">
    <h5 class="ranking-moji">大阪府<h5></a>
     <p class="ranking-kutikomi">学校数：<%= @drone26.count %>件</p>
  </li>

  <li class="li-takotako">
   <a href="/areas/28" class="irokotei">
    <h5 class="ranking-moji">兵庫県<h5></a>
     <p class="ranking-kutikomi">学校数：<%= @drone27.count %>件</p>
  </li>
</ul>

<ul class ="zenkoku-ranking3" style="list-style:none;">
  <li class="li-takotako">
  <a href="/areas/29" class="irokotei">
    <h5 class="ranking-moji">奈良県<h5></a>
     <p class="ranking-kutikomi">学校数：<%= @drone28.count %>件</p>
  </li>
  <li class="li-takotako">
  <a href="/areas/30" class="irokotei">
    <h5 class="ranking-moji">和歌山県<h5></a>
     <p class="ranking-kutikomi">学校数：<%= @drone29.count %>件</p>
  </li>
</ul>
    <div class="zenkoku1" id="page_tyugoku">
    <h3 class="inner-moji">中国地方</h3>
    </div>
<ul class ="zenkoku-ranking3" style="list-style:none;">
  <li class="li-takotako">
  <a href="/areas/31" class="irokotei">
    <h5 class="ranking-moji">鳥取県<h5></a>
     <p class="ranking-kutikomi">学校数：<%= @drone30.count %>件</p>
  </li>

  <li class="li-takotako">
  <a href="/areas/32" class="irokotei">
    <h5 class="ranking-moji">島根県<h5></a>
     <p class="ranking-kutikomi">学校数：<%= @drone31.count %>件</p>
  </li>

  <li class="li-takotako">
  <a href="/areas/33" class="irokotei">
    <h5 class="ranking-moji">岡山県<h5></a>
     <p class="ranking-kutikomi">学校数：<%= @drone32.count %>件</p>
  </li>

  <li class="li-takotako">
  <a href="/areas/34" class="irokotei">
    <h5 class="ranking-moji">広島県<h5></a>
     <p class="ranking-kutikomi">学校数：<%= @drone33.count %>件</p>
  </li>

  <li class="li-takotako">
   <a href="/areas/35" class="irokotei">
    <h5 class="ranking-moji">山口県<h5></a>
     <p class="ranking-kutikomi">学校数：<%= @drone34.count %>件</p>
  </li>
</ul>

    <div class="zenkoku1" id="page_shikoku">
    <h3 class="inner-moji">四国</h3>
    </div>
<ul class ="zenkoku-ranking3" style="list-style:none;">
  <li class="li-takotako">
  <a href="/areas/36" class="irokotei">
    <h5 class="ranking-moji">徳島県<h5></a>
     <p class="ranking-kutikomi">学校数：<%= @drone35.count %>件</p>
  </li>

  <li class="li-takotako">
  <a href="/areas/37" class="irokotei">
    <h5 class="ranking-moji">香川県<h5></a>
     <p class="ranking-kutikomi">学校数：<%= @drone36.count %>件</p>
  </li>

  <li class="li-takotako">
  <a href="/areas/38" class="irokotei">
    <h5 class="ranking-moji">愛媛県<h5></a>
     <p class="ranking-kutikomi">学校数：<%= @drone37.count %>件</p>
  </li>

  <li class="li-takotako">
  <a href="/areas/39" class="irokotei">
    <h5 class="ranking-moji">高知県<h5></a>
     <p class="ranking-kutikomi">学校数：<%= @drone38.count %>件</p>
  </li>
</ul>

    <div class="zenkoku1" id="page_kyusyu">
    <h3 class="inner-moji">九州・沖縄</h3>
    </div>
<ul class ="zenkoku-ranking3" style="list-style:none;">
  <li class="li-takotako">
  <a href="/areas/40" class="irokotei">
    <h5 class="ranking-moji">福岡県<h5></a>
     <p class="ranking-kutikomi">学校数：<%= @drone39.count %>件</p>
  </li>

  <li class="li-takotako">
  <a href="/areas/41" class="irokotei">
    <h5 class="ranking-moji">長崎県<h5></a>
     <p class="ranking-kutikomi">学校数：<%= @drone40.count %>件</p>
  </li>

  <li class="li-takotako">
  <a href="/areas/42" class="irokotei">
    <h5 class="ranking-moji">佐賀県<h5></a>
     <p class="ranking-kutikomi">学校数：<%= @drone41.count %>件</p>
  </li>

  <li class="li-takotako">
  <a href="/areas/43" class="irokotei">
    <h5 class="ranking-moji">大分県<h5></a>
     <p class="ranking-kutikomi">学校数：<%= @drone42.count %>件</p>
  </li>

  <li class="li-takotako">
   <a href="/areas/44" class="irokotei">
    <h5 class="ranking-moji">熊本県<h5></a>
     <p class="ranking-kutikomi">学校数：<%= @drone43.count %>件</p>
  </li>
</ul>

<ul class ="zenkoku-ranking3" style="list-style:none;">
  <li class="li-takotako">
  <a href="/areas/45" class="irokotei">
    <h5 class="ranking-moji">宮崎<h5></a>
     <p class="ranking-kutikomi">学校数：<%= @drone44.count %>件</p>
  </li>
  <li class="li-takotako">
  <a href="/areas/46" class="irokotei">
    <h5 class="ranking-moji">鹿児島<h5></a>
     <p class="ranking-kutikomi">学校数：<%= @drone45.count %>件</p>
  </li>
  <li class="li-takotako">
  <a href="/areas/47" class="irokotei">
    <h5 class="ranking-moji">沖縄<h5></a>
     <p class="ranking-kutikomi">学校数：<%= @drone46.count %>件</p>
  </li>
</ul>

<footer>
</footer>
</body>